[2021-09-04 10:59] 0xfe commented on #1126
That is a bug -- and great catch! It's an implementation detail I never realized.

I think we should fix it for correctness, however practically, `scale` is just called once on a new renderer.

[2021-09-04 14:34] 0xfe commented on #1129
Agreed! We should also fix the script that generates these font files to skip these glyphs.

[2021-09-04 14:39] AaronDavidNewman opened #1130 "Failure to build latest"
There are a couple of places like this in the test code.  Am I doing something wrong?

[code]
[code]

Easy to fix by making `catch (e: any)`, but I'd imagine the CI tool does not see this, so what's different with me?

[code]

[2021-09-04 14:49] 0xfe commented on #1130
All the tests are now Typescript. Thanks Aaron, did you try `npm i` again?

@ronyeh FYI

[2021-09-04 17:22] ronyeh commented on #1130
I just pulled down master @ c712ef340fbc7de8f34a951561c47ad0584abe0e to a new directory and it builds:

[code]

Then I opened `flow.html` in a browser:
[code]

What version of TypeScript are you running?

**WAIT!!**: Now that I open the fresh git clone in my vs code, I do see the red squiggly underlines with `catch(e) {` and `Object is of type 'unknown'.ts(2571)`

Sorry we missed this. I can put a

[2021-09-04 18:04] ronyeh commented on #1130
These were the library versions in my fresh git clone / npm install:
[code]

I'm not a eslint / webpack guru. I wonder if there's a good way to throw errors or warnings for this issue.

[2021-09-04 19:12] ronyeh commented on #1130
I'll submit a PR to fix this later this evening.

I'm converting all the try catch clauses to use the QUnit throws assertion. All we are doing is using the try catch to verify that the RuntimeError code is matching what we expect, and that's exactly what QUnit's throws does:

`throws(() => music.getKeyParts('r'), /BadArguments/, 'Invalid key: r');`

See: https://api.qunitjs.com/assert/throws/

[2021-09-04 21:06] tommadams commented on #1127
Storing the SVG path in the `*_glyphs.ts` files would be great. And I am 100% behind the idea of reordering the coordinates to match what the `RenderContext`s expect!

To completely avoid any processing of the `o` field by the `SVGContext`, we'd also need to store the bounding box for every glyph too. This is because a `<symbol>` SVG element must have a `viewBox` attribute defined, otherwise the `

[2021-09-04 21:08] tommadams commented on #1127
Oh, and yes, avoiding the negation of the y values would definitely simplify the rendering code. I spent about an hour tracking down a bug where the `dynamicPiano` glyph wasn't being rendered correctly because I had messed up calculating the bounding box. The notehead glyphs only happened to draw correctly because their SVG paths were centered vertically.

[2021-09-04 21:23] AaronDavidNewman commented on #1130
Great, thanks.  I have another PR to push but I'll wait for this first.

Me neither  But I think the difference is probably a function of which typescript version is in package-lock.json when you run `npm update`, since this is a compile error and not a lint error.  The version in package.json is 4.4.2, while the version in package.lock is 4.3.8.

For the key tools, like typescript, grunt, etc. it

[2021-09-05 05:49] tommadams commented on #1127
So I cleaned up the rendering code and removed all the extra unnecessary work and the performance is... terrible unfortunately.

When the <all modules> test page is running, Chrome spends nearly all of its time stuck in "recalculate style" and "layout" :
![perf trace](https://user-images.githubusercontent.com/7587269/132116490-c2a1f9ee-61ce-4b54-a165-50ccba907fd0.png)

Each of those blocks is arou

[2021-09-05 06:48] rvilarl commented on #1121
@ronyeh this one can be closed, change is alerady in master

[2021-09-05 06:48] ronyeh commented on #1127
Bummer.

I found an old discussion from 6+ years ago about performance with SVG use symbol. The comments suggested that symbol might be slower than just drawing tons of paths directly.

- there has to be some minimal overhead to keep track of the connection beween a symbol and each `<use>`.
- and what happens if the original symbol changes? The browser's renderer has to propagate all changes to ea

[2021-09-05 07:31] ronyeh commented on #1127
Here's another almost 7 year old blog post about SVG performance, by a Khan Academy engineer. I thought it was an interesting read:

https://www.crmarsh.com/svg-performance/
"...applying linear transformations to SVG elements does trigger re-layout and re-painting"

Summary: at least 7 years ago, major browsers didn't seem to focus on SVG render performance. They were able to make huge gains in (a

[2021-09-05 08:27] #1121 closed

[2021-09-05 10:47] #1130 closed

[2021-09-05 13:57] tommadams commented on #1127
Some good news, it turns out that the terrible performance was caused by multiple `<symbol>` elements in _different_ SVGs sharing the same ID. I was simply assigning the glyph name to the symbol ID under the assumption that `<use>` references would be local to the SVG they were in but that turns out not to be the case.

After this change, running all test tests takes about 12 seconds on my machine

[2021-09-07 09:03] rvilarl commented on #1119
I believe that this is not an error. Ledger lines are drawn for Stave Notes and `NoteHead` derives from `Note`, not `StaveNote`.

[2021-09-07 10:07] Xonok commented on #1122
Here it is https://jsfiddle.net/0pzhuLtv/28/

[2021-09-07 12:53] sschmidTU commented on #1119
Yeah, this doesn't happen for StaveNotes with Vexflow 1.2.93 (OSMD), I think.
![image](https://user-images.githubusercontent.com/33069673/132347867-08d71312-93cf-4411-aff9-0494c58c3021.png)

[2021-09-07 16:26] AaronDavidNewman commented on #1122
Yep!

[2021-09-07 21:04] ronyeh commented on #1122
@Xonok can you confirm if @AaronDavidNewman fixed this issue in https://github.com/0xfe/vexflow/pull/1132

The fix has been merged into master so we will close off this issue once you confirm from your end.

[2021-09-08 00:51] ronyeh commented on #1119
OK, makes sense. StaveNote can use multiple NoteHead objects, so it should not be NoteHead's responsibility to draw the ledger.

So maybe 1.2.77 was "buggy" (because a lone NoteHead drew a ledger), and now 3.0.9 is not.

However, maybe `StaveNote` should not be drawing the ledger lines either?? Should it be the responsibility of the Stave to render ledger lines where appropriate?

There are some m

[2021-09-08 00:53] ronyeh commented on #1119
The inconsistent formatting is this bug: https://github.com/0xfe/vexflow/issues/1126

[2021-09-08 00:55] ronyeh commented on #1107
@0xfe @rvilarl FYI my next PR will be standardizing the Category and setAttribute 'type' string in accordance with the above comment: https://github.com/0xfe/vexflow/issues/1107#issuecomment-902970168

[2021-09-09 13:02] Xonok commented on #1122
I'm working off of the debug release. How do I get an updated one?

[2021-09-09 19:30] ronyeh commented on #1122
We haven't released anything new to npm or unpkg, so the best way to get the newest fixes is:

[code]

Then grab the `vexflow-debug.js` from the build folder.

[2021-09-10 12:21] Xonok commented on #1122
It works properly now. Thanks.

[2021-09-10 23:11] #1122 closed

[2021-09-14 09:49] rvilarl opened #1143 "Rationalise `Tickable`, `Note` ..."
In the current situation:
- `Note` is the only one class extending `Tickable`
- Most of the pending `ts-nocheck` after merging #1141 are related to this topic.

@0xfe @ronyeh  Should we merge both classes in one?

[2021-09-15 09:21] rvilarl commented on #1143
Another possibility would be to extend `Tickable` with abstract methods required by the different classes using it in order to avoid casting to `Note`, `StemmableNote` and `StaveNote`.

[2021-09-18 09:32] rvilarl commented on #1143
@ronyeh you had already some thoughts on this one, I believe.

[2021-09-18 12:46] 0xfe commented on #1143
Thanks @rvilarl. Merging them feels like a hack -- if we're going to explore this path, I'd suggest we think of how interfaces can help us here.

E.g., I think we can have separate `Tickable` and `Note` interfaces that more cleanly separate the intents.

`Tickable` is anything that consumes time in a voice. And `Note` is something that has a pitch (or group of pitches). In addition, we can have a

[2021-09-18 13:46] rvilarl commented on #1143
I see the point, but:
- is there anything else than a Note or child class from Note that should be a Tickable?
- the classes using the tickables in Voice, expect them to be Notes.

[2021-09-18 14:02] 0xfe commented on #1143
* Not right now, however that's beside the point, because `Note` has very low cohesion, and a very bad abstraction. Removing `Tickable` will make that worse.
* Right, I think that is bad too, because `Note` is just a catch all abstraction.

If we're going to refactor this, it should move in the direction of higher cohesion.

There's definitely a problem with the current abstractions, and you're ri

[2021-09-18 21:13] rvilarl commented on #1143
@ronyeh anything to add from your side? Otherwise I will close this issue.

[2021-09-18 22:51] ronyeh commented on #1143
:-) I'll defer to Mohit on this since he was the original designer.

But going by the class comments:

[code]

[code]

So could we brainstorm up some things that sit on a score, but do not have a pitch or fret value? I guess technically a rest would be a Tickable but not a Note, but in VexFlow rests are a special type of note.

What if I wanted to notate a part of a score as a jazzy ad lib? Maybe

[2021-09-19 07:18] rvilarl commented on #1143
I would recommend in case of doubt / redesign to follow MusicXML standard. This format is now accepted by many music editors.
There we can challenge also if we have the required attributes for a notehead, gracenote,...

The rest in MusicXML is an atribute of a Note. Notes have exactly one of the following <pitch>, <unpitched>, <rest>
https://www.w3.org/2021/06/musicxml40/musicxml-reference/element

[2021-09-20 11:08] #1107 closed

[2021-09-21 19:15] ronyeh opened #1146 "Clean up Options object interfaces, add documentation."
While working on removing Partial, I encountered some fields in `export interface StaveOptions { ... }` that are not used.
[code]

These are actually part of `CurveOptions`. I have removed them from my PR after verifying they are not used anywhere.

All of these interface declarations were created while we migrated VexFlow to TypeScript 5-6 months ago. There are probably more cases where the inter

[2021-09-22 03:28] ronyeh opened #1147 "Semibreve misspelled :-)"
"semibrave" shows up 23 times in VexFlow.

All but one are private names that we can change.

However, `MultimeasureRestRenderOptions` contains a field `semibrave_rest_glyph_scale` that is part of the public API, and has been since version 1.2.88:

https://www.unpkg.com/browse/vexflow@1.2.88/src/multimeasurerest.js

Can we rename it to `semibreve_rest_glyph_scale`? :-) It would be a breaking chang

[2021-09-23 05:28] ronyeh opened #1149 "FormatOptions vs FormatterOptions"
https://github.com/0xfe/vexflow/blob/44605d07e6fe27eed4f10c4ec94bfb0e9b12f692/src/formatter.ts#L29-L41

While cleaning up the Partials, I ran across `formatter.ts` which has two exported interfaces: `FormatOptions` and `FormatterOptions`. It confused me at first sight, and probably would confuse a new VexFlow user as well.

This is a reminder to myself to discuss w/ Rodrigo and Mohit to see if the

[2021-09-23 05:32] ronyeh commented on #1149
Similarly, `system.ts` has `SystemOptions` and `SystemParams` :-) Both are exported interfaces.

I'll have to think about these when I'm more awake. :-)

[2021-09-24 15:42] tommadams opened #1150 "SVGs don't render in ImageMagick correctly"
ronyeh brought up in #1145 the fact that the visual regression currently doesn't test canvas rendering, which has recently been found to have a few bugs (#1126, #1145, #1142, #1140). I did a quick test and ran ImageMagick on the command line to try and diff some SVGs generated by `SVGContext` and none of them rendered correctly. It's possible that the SVGs are malformed somehow and browsers are ju

[2021-09-24 16:29] tommadams commented on #1150
This actually does seem like a bug in ImageMagick, triggered by this line: https://github.com/0xfe/vexflow/blob/44605d07e6fe27eed4f10c4ec94bfb0e9b12f692/src/glyph.ts#L300

Every glyph already starts with a move command, so the extra `moveTo` at the beginning of the glyph `renderOutline` means that the glyph outlines always start with two moves. See this notehead for example (there are two `M` comm

[2021-09-24 18:06] ronyeh commented on #1150
I found this: https://stackoverflow.com/questions/9853325/how-to-convert-a-svg-to-a-png-with-imagemagick

It suggested using: https://github.com/shakiba/svgexport

I tried:
[code]

Works great. :-)

So browsers, Affinity Designer, and svgexport work great.

"svgexport is a Node.js module and command-line tool for exporting SVG files to PNG and JPEG, it uses Puppeteer for rendering SVG files."

[2021-09-24 18:30] ronyeh commented on #1150
While looking at this issue, I am reminded that our SVG outputs 15 decimal points of precision! :-)

For a simple VexFlow demo like this:

![output](https://user-images.githubusercontent.com/239113/134722659-364e600a-c172-425d-82b4-3219ca8c60d3.jpg)

The output SVG looks like this:
<img width="1493" alt="SVG" src="https://user-images.githubusercontent.com/239113/134722446-63bb9746-cdcb-4476-a783-1

[2021-09-24 18:39] ronyeh opened #1152 "SVG paths have 15 decimal points of precision"
While looking at https://github.com/0xfe/vexflow/issues/1150, I noticed that our SVG outputs 15 decimal points of precision!

For a simple VexFlow demo like this:

![output](https://user-images.githubusercontent.com/239113/134722659-364e600a-c172-425d-82b4-3219ca8c60d3.jpg)

The output SVG looks like this:
<img width="1493" alt="SVG" src="https://user-images.githubusercontent.com/239113/134722446-

[2021-09-25 04:08] tommadams commented on #1152
Wow, that d3 issue has been open for nearly five years.

Truncating to 3 decimal points of precision should be more than sufficient. As noted in the d3 issue, we should go with a custom rounding function rather than `.toFixed` to avoid padding with zeros.

Something like:
[code]

[2021-09-25 04:40] tommadams commented on #1152
Actually, I had to zoom right in to the pixels to spot a difference with only single decimal point of precision, so we could probably get away with only 2 digits of precision. 3 digits is definitely enough.

Full precision:
<img width="1068" alt="original" src="https://user-images.githubusercontent.com/7587269/134757867-f0d02d45-a5a8-4388-9c82-03440c2f4c4f.png">

Single digit precision (the differ

[2021-09-25 04:44] tommadams commented on #1152
It just occurred to me that I should have said "3 decimal places" not "3 digit precision". Sorry, I was working on a different kind of quantization all day today :)

[2021-09-25 07:24] ronyeh commented on #1152
Cool. Thanks for looking into this!

Can we get away with no rounding at all? I'd have to investigate, but I have a branch that is investigating updating the Bravura / Petaluma font files, and trying to do as little work on the SVG path strings as possible. (Ideally the SVG path that we extract from the OTF is shoved directly into our final SVG output.)

So far, I've extracted the updated fonts, a

[2021-09-25 14:20] mscuthbert commented on #1147
Let us not be semibrave but fully brave and make this change.

[2021-09-25 15:32] 0xfe commented on #1147
Yes, let's rename. (Especially if it'll stop @mscuthbert from making more terrible jokes!)

[2021-09-25 17:03] mscuthbert commented on #1147
Just for that you get my gif illustrating how the semibreve rest put on weight over the centuries:

![semibreve_rests_get_fat](https://user-images.githubusercontent.com/3521479/134780041-3d88fcef-0dca-4b67-8786-d62a046dfb4d.gif)

[2021-09-25 17:14] #1150 closed

[2021-09-25 17:22] mscuthbert commented on #1149
Great catch.

Btw -- how close do people who have been working hard on this all summer/fall feel we are to making a 4.0 release (or at least beta) from all this amazing work?  Maybe saying that InterfaceNames/TypeScript features can change during the 4.0 cycle?  I have a couple of projects that I like to install Vexflow from npm directly on rather than building from master, but so many amazing thi

[2021-09-25 17:56] ronyeh commented on #1149
Can you start a discussion thread and ping relevant maintainers so we can reach consensus about what we want to accomplish before 4.0.0?

At the moment, you could actually npm install directly from your public GitHub fork.

Here are general things I'd like to accomplish:
* Review all instance variables to see if they should be public, or protected with accessors, or in the extreme cases, private t

[2021-09-25 18:28] 0xfe commented on #1149
+1 on starting a thread about this -- we're definitely overdue for 4.0.0, and it's easy to keep adding to its scope. It's okay to push some of these nice-to-have features into 4.1.

[2021-09-25 18:33] ronyeh commented on #1149
As a developer, I always like to feature creep. :-)

Objectively the most important thing is to nail down the public facing API
(exported methods, public fields, interfaces). We don't want any API
breakage after shipping 4.0.0 (although marking methods as deprecated is
fine for minor releases.)

On Sat, Sep 25, 2021 at 11:28 AM Mohit Cheppudira ***@***.***>
wrote:

[2021-09-25 18:51] mscuthbert commented on #1149
By thread people mean email?  Like on a mailing list?  It's been a long time since I've done that!

My feeling for 4.0 response to @ronyeh is:

- "Review all instance variables to see if they should be public" -- feeling is switching something public to private is a compatibility break in any case (the reverse direction is not true), so whether that happens in 4.0 or 5.0 is less important.  I feel

[2021-09-25 19:13] ronyeh commented on #1149
Ah I meant on the GitHub discussions tab. That way the discussion can be
public.

On Sat, Sep 25, 2021, 11:52 AM Michael Scott Cuthbert <
***@***.***> wrote:

[2021-09-25 19:13] mscuthbert commented on #1149
oops.  well, it’s on the mailing list too now.

[2021-09-25 19:14] ronyeh commented on #1149
Or if we don't like using GitHub discussions, we can open a GitHub issue
called 4.0.0. when we ship, we can close the issue!

On Sat, Sep 25, 2021, 12:12 PM Ron Yeh ***@***.***> wrote:

[2021-09-25 20:55] ronyeh opened #1155 "4.0.0"
I'm going to open the discussion as a GitHub issue. When we ship it, we can close this issue and celebrate. :-)

~~I started a kanban [here](https://github.com/0xfe/vexflow/projects/4).~~
Edit: a trello style project board is probably too much overhead since we only have a few collaborators. I put up a wiki page instead: https://github.com/0xfe/vexflow/wiki/TODOs-for-4.0.0

Myke started a thread o

[2021-09-25 20:59] ronyeh commented on #1155
@mscuthbert @rvilarl @tommadams @0xfe

Please cc any others that we'd like to include on this discussion.

@mscuthbert started this disussion at https://github.com/0xfe/vexflow/issues/1149

Let's freeze any features soon-ish :-). Then we can just test and fix tiny bugs before we cut the 4.0.0 release.

[2021-09-25 21:11] ronyeh commented on #1149
I'm moving the 4.0.0 release discussion to: https://github.com/0xfe/vexflow/issues/1155
We'll close the issue once it's released.

[2021-09-25 21:58] rvilarl commented on #550
@0xfe this one can be closed, it is already documented in the WIKI.

[2021-09-25 22:18] #550 closed

[2021-09-25 22:19] rvilarl commented on #1155
@ronyeh I do not know how to add cards to the project :(

Anyway I suggest:
- clasify all the issues assign features and bugs to one release. Close rejected features.
- agree on the level of minimum level of documentation that we want to achieve.

[2021-09-26 06:56] ronyeh commented on #1155
Let me add those to the project board.

The project seems like a visual way to organize GitHub issues (like a basic version of Trello), so if there is a really important item to include in 4.0.0, I'd recommend turning it into a GitHub issue, and then I'll track it using the project kanban.

As for your two items:
* Classify Issues / Triage. Let's identify any **must have** fixes and we can tag the

[2021-09-26 09:10] rvilarl opened #1156 "Draw vertical bar"
In Stave the following methods:
- `drawVertical` & `drawVerticalFixed` are identical
- `drawVerticalBar` & `drawVerticalBarFixed` are also identical

There is a comment in the source code:
[code]

However the Bars of a stave are drawn in reality by the method `drawVerticalBar` from `BarLine` and the four methods from `Stave` are used only in specific tests which aim to test them.

I suggest to del

[2021-09-26 13:13] mscuthbert commented on #1155
For documentation the necessities to me are:

1. how to install Vexflow for use in another project (`npm install vexflow`).
2. loading it on a standalone website (`<script src="https://cdn..../vexflow-latest.min.js"></script>`).
3. make sure that the EasyScore tutorial (https://github.com/0xfe/vexflow/wiki/Using-EasyScore) works in v4, since that's where the main website points people

numbers 1 a

[2021-09-26 14:29] tommy-banana opened #1157 "this.element.appendChild is not a function error when using a Vexflow in react-pdf"
Hi I am using Vexflow successfully in a react app and Vexflow is displaying successfully on the screen.
I am trying to find a way to allow users to download a PDF and each route seems to run into problems one way or another.

I am looking at react-pdf/renderer and they have a couple of methods that should work.

<PDFDownloadLink />

You can see more about this on  https://react-pdf.org/advanced#pa

[2021-09-26 23:59] 0xfe commented on #1156
I think this was an effort to maintain compatibility with an older API -- agreed that we can delete for 4.0.

[2021-09-27 03:56] tommadams commented on #1157
Please edit your post and wrap the stack trace in triple backticks, it's completely unreadable as posted.

\`\`\`
Put three backticks at the top and bottom
of the error like this.
\`\`\`

[code]

[2021-09-27 04:07] tommadams commented on #1155
Thanks for the heads up! One feature that I would personally like to get in that feels like it belongs to a major point release is the ability to construct your own render context and pass it to the `Renderer` constructor (while preserving the existing constructor arguments for backwards compatibility of course).

I _think_ all that is required is a light refactoring and moving some code from `Ren

[2021-09-27 08:11] ronyeh commented on #1155
:-) Send in a PR and we can all decide if it'll be in 4.0.0 or 5.0.0, haha. (Michael seems to be itching to get a 4.0.0 out, haha.) It sounds cool though. So this PathContext (or whatever you named it) just builds an internal string representation (or an array of strings, which is ultimately joined)?

It reminds me of the d3 path module, which I ran across a while back: https://github.com/d3/d3-pa

[2021-09-27 08:42] ronyeh commented on #1155
A trello style project board is probably too much overhead since we only have a few collaborators. I put up a wiki page instead:

https://github.com/0xfe/vexflow/wiki/TODOs-for-4.0.0

It's probably safest if you open an issue and then just add a URL to that issue into the wiki for tracking purposes. I have no idea what happens if two people edit the wiki simultaneously, so be careful. :-)

[2021-09-27 09:02] tommy-banana commented on #1157
Thanks Tom. That is much better. Every day is a school day....

[2021-09-27 11:43] mscuthbert commented on #1155
Yeah, I'm a release often type of person (at least philosophically -- some projects are too much of a pain to build a release for).  And I know I'll ramp up my contributions to VF 4+ more once I'm seeing it every day in my projects.  Pinning a release to master or another moving target isn't something I'm comfortable doing except in hobby projects.

[2021-09-27 11:45] mscuthbert commented on #1155
I think we've forgotten to tag @h-sug1no in this discussion who has contributed so much since the end of 1.2 also.

[2021-09-27 11:46] #1147 closed

[2021-09-27 11:57] 0xfe commented on #1155
+1 for @mscuthbert's comment about releasing early and often, and staying on `HEAD`. We don't need to be too rigorous here, get stuff into 4.0, and iterate fast to stabilize it.

@tommadams generating an SVG string sounds really useful for many reasons -- that PR is happily welcomed!

[2021-09-27 13:43] Jasonbuchanan1983 opened #1160 "wiki"

[2021-09-27 16:09] tommadams commented on #1157
I'm not familiar with React, so I can't help with that part of things.

What is the type of `container.curent` in this call?

[code]

The first argument to the `Renderer` constructor needs to be either:
  - an `HTMLElement` (most commonly a div)
  - the string ID of an `HTMLElement` in your document.

Judging from the callstack you posted, `container.current` is neither of these things.

[2021-09-27 16:14] tommy-banana commented on #1157
Yes - I think you are right that is the issue. It sis interesting though that everything works fine in the browser it is only when downloading a file that the error is thrown.

The way React works  (and my level of understanding of it) makes that a not straightforward question for me to answer. I will see if I can find out. Many thanks.

[2021-09-27 20:21] ronyeh commented on #1157
Are you using SVG context? If so, can you send the SVG element through a package like: https://github.com/yWorks/svg2pdf.js/

Also, are you comfortable building VexFlow from the source? We are currently working on preparing a 4.0 release. It looks like you're probably using the 3.0.9 release at the moment. 4.0 has lots of good stuff, we promise. :-)

[2021-09-27 21:58] tommy-banana commented on #1157
The complexity is working out  what React and webpack are doing… I will have a go. I have been looking at svg2pdf and look forward to trying version 4. Thanks very much for the suggestions.

[2021-09-27 23:00] #1160 closed

[2021-09-28 16:24] sschmidTU commented on #1157
@tommy-banana the OSMD debugging demo is [using jspdf and svg2pdf](https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/blob/develop/demo/index.js#L857). It's not ideal but it works. You should be able to get the SVG via `context.svg` or something.

[2021-09-28 19:45] mscuthbert commented on #1155
v4.1/5 request that I'm willing to implement once this is out: `<g>` tags for more elements in svg -- find the clef inside the svg and change its color, etc.  -- I find the `<g>` tags for stavenotes super valuable and wish we had more of them.

[2021-09-29 00:54] sschmidTU commented on #1155
Yes, also for other elements, especially when they have a class, e.g. `<g class="vf-stavenote" id="vf-auto1143">`.
In OSMD, we added this for TabNotes as well (`vf-tabnote`) with ` context.openGroup()` and `context.closeGroup()` at the beginning and start of `draw()`. It's useful for SVG manipulation.
![image](https://user-images.githubusercontent.com/33069673/135184915-3f9582fd-cc9a-46a8-b19a-fbc

[2021-09-29 01:03] AaronDavidNewman commented on #1155
same, the main modification I have in my branch for smoosic is to be able to put many elements into groups. For any application that's interactive, you need to know where everything is.

[2021-09-30 05:51] h-sug1no opened #1162 "Visual Regression Tests: BoundingBoxComputation: duplicate image filename"
with this dirty(sorry... It is better to test for duplicate test names where more appropriate place) check:

660f488b33e71e8a3ff1484c448e2efeaddfc4fa: tests/vexflow_test_helpers.ts (patch to: 6dad8b20631745be97db32dcaac8772aec6e278f)
[code]

Duplicate file names will be detected as follows:

[code]

As a result, only the last item of the four tests (for example in `BoundingBoxComputation › Quadrat

[2021-09-30 16:50] ronyeh commented on #1162
Nice catch!

I think all we need to do is add an index number to the end of each test, since the tests are generated in a for loop.

https://github.com/0xfe/vexflow/blob/660f488b33e71e8a3ff1484c448e2efeaddfc4fa/tests/boundingboxcomputation_tests.ts#L6-L22

[2021-09-30 22:38] ronyeh commented on #1119
We can revisit ledger line drawing in a future release. At the moment, multiple ledger lines can be drawn in the same place when there are multiple voices.

[2021-09-30 22:38] #1119 closed

[2021-09-30 22:55] ronyeh commented on #638
I worked on this code recently while cleaning up APIs for my PR: https://github.com/ronyeh/vexflow/blob/setFont/src/canvascontext.ts

@sschmidTU What do you want clearRect() and rect() to do?

As far as I can tell, `clearRect()` is doing the correct thing on CanvasContext.
https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/clearRect

It draws a transparent black rectangle (w

[2021-09-30 23:10] ronyeh commented on #638
I think the main issue is that we tried to make SVGContext have the same API as CanvasContext, but then we supercharged SVGContext's methods to do more than expected. :-)

From your jsfiddle up top:
[code]

Here, SVGContext is doing the "wrong thing" in that it is not following the CanvasRenderingContext2D spec.

@0xfe I would suggest that we have SVGContext follow the CanvasRenderingContext2D spe

[2021-09-30 23:25] ronyeh commented on #1118
Fixed by https://github.com/0xfe/vexflow/pull/1137

[2021-09-30 23:25] #1118 closed

[2021-09-30 23:28] ronyeh commented on #1076
Duplicate of: https://github.com/0xfe/vexflow/issues/1129

[2021-09-30 23:28] #1076 closed

[2021-09-30 23:36] ronyeh opened #1166 "camelCaseEverything includingFunctionsAndMethods() and also fieldsInOptionsObjects"
I was going through old issues to categorize them for 4.0 | 4.x | 5.0.

https://github.com/0xfe/vexflow/issues/348
https://github.com/0xfe/vexflow/issues/1070

I think for the future 5.0 release, we should make a pass through the entire code base and `banish_the_underscores` so that we can `useCamelCaseForEverything`.

We can add a big warning to the CHANGELOG for version 5.0, including a list of

[2021-09-30 23:41] ronyeh commented on #824
Not currently in the roadmap. If you submit a PR for 1024th notes, we'll definitely take a look.

[2021-09-30 23:41] #824 closed

[2021-09-30 23:45] ronyeh commented on #737
I agree with this one.

It has caused confusion in the past, where we think CanvasContext is buggy:
https://github.com/0xfe/vexflow/issues/638

We should have SVGContext and CanvasContext match as closely as possible. Any superchanged convenience methods should have a different name. For example, if we want a method that adds the path and also strokes/fills, we could call it `.drawRectWithStyle(x,

[2021-09-30 23:53] ronyeh commented on #402
Now that we are in TS and with all the tests mostly "cleaned up", I'm gonna suggest we close this one.

If we want to add discuss adding a test coverage report, we should open a new issue and reference this discussion. I think really old issues get lost in the pile easily. A new issue can also be very targeted and easily actionable.

[2021-10-01 00:35] sschmidTU commented on #638
Yes, i wanted what SVGContext (erroneously) did with `clearRect()`, which was (clearing and) filling a rect with the background color.
You're right, `fillRect()` with `fillStyle` set is the correct way, so this can be closed.
I was just confused because SVGContext did what i wanted and CanvasContext behaved differently.

(one of my goals was to draw a white background at the start, which makes the

[2021-10-01 00:56] ronyeh commented on #638
So I think SVGContext is "buggy". We should work to make SVGContext identical (as much as possible) to CanvasContext. Then we can add extra convenience methods as desired.

[2021-10-01 02:39] ronyeh commented on #638
Your example is very useful, and is great feedback. I've noticed too, with our visual regression tests, that all the PNGs have transparent background.

It makes sense that a developer would want a solid background color. This would be useful (someday) if we want to support dark mode websites (e.g., if for some reason the developer wants notes to be light gray and the score background to be black o

[2021-10-01 02:59] ronyeh commented on #722
Can you clarify what you mean? Do you mean that the VexFlow SVGContext is on a responsive webpage, so that as the parent DOM element resizes, the VexFlow score will also resize appropriately? Do you have a demo of it working? (Since this is almost 2 years ago now, I assume you might have already implemented it on your own fork.)

[2021-10-01 10:03] ronyeh commented on #776
**Short answer: YES, the font file is corrupted by git.**

Medium answer: When we git add OTF files, we get this warning (that quickly scrolled off my terminal so I missed it the first time). `warning: CRLF will be replaced by LF in tools/smufl/fonts/Bravura.otf. The file will have its original line endings in your working directory`. I think the solution is to add `*.otf binary` to the `.gitattri

[2021-10-01 10:11] ronyeh commented on #776
https://git-scm.com/docs/git-config#:~:text=CRLF%20conversion%20bears%20a%20slight%20chance%20of%20corrupting%20data.

Hopefully someone in the future will benefit from this. Make sure you tell git to treat OTF (and possibly other files) as binary!

[2021-10-01 10:23] ronyeh commented on #776
Here are the two opentype.js errors I got:

`Error: Object [object Object] already has key 0`
`throw new Error('Invalid b0 ' + b0); Error: Invalid b0 24`

(This comment is to help the next developer who runs into this issue, and is searching the web for matching error messages.)

Add: `*.otf binary` to the end of your `.gitattributes` file!

[2021-10-01 11:53] Xonok opened #1167 "Layout issue, with example attached"
Formatting has an issue in the current master branch.

Release 3.0.9 worked fine:
https://jsfiddle.net/w043fche
Current master branch places the last note too close to the end:
https://jsfiddle.net/5cb8v2as

Both examples have the exact same code. The only difference is the release they use.

[2021-10-01 11:59] davidedelvento commented on #722
I needed simply the staff to fill the available size, on a phone/table. I eventually had it to work just using what was available. I don't remember anything else since this is so old (I am not currently working on that project, at the moment)

[2021-10-01 12:00] 0xfe commented on #1162
Yes, that would work. Good find @h-sug1no!

[2021-10-01 12:10] 0xfe commented on #402
🎉

[2021-10-01 12:10] #402 closed

[2021-10-01 12:39] 0xfe commented on #1167
Not sure what's going on here -- @AaronDavidNewman

[2021-10-01 14:25] AaronDavidNewman commented on #1167
The difference now is that we increase the space we allocate for the notes so that it is right-justified to 10-15 px from the bar.  In this case there are only 2 notes in the measure, and a lot of extra white space.

In a sense our formatting model is 'overfitting'.

Should we add a flag that lets you turn this off?  The old code only reduced the estimated width, it never increased it.  If I did t

[2021-10-01 15:16] sschmidTU commented on #638
In my example, this seems to work to get a white background instead of transparent (as 0xfe commented):
[code]

[2021-10-01 19:17] ronyeh commented on #1155
Awesome, it sounds like for version 4.1, we will have SVG group tags for everything! @mscuthbert can open a GitHub issue for this and @sschmidTU / @AaronDavidNewman can review the PR when its submitted (post 4.0 release).

[2021-10-01 19:36] ronyeh commented on #1167
Also, in both cases, the notes are drawn behind the stave lines.

[2021-10-01 19:49] ronyeh commented on #1167
Hmm, I'm not an expert on the formatting code, but from a user/developer's point of view I would like VexFlow to work "as expected" for as many cases as possible, without having to learn about special flags to turn on/off internal features.

I know formatting is a complicated problem to handle :-).

It seems intuitively, each "beat" should roughly take up equal space in a measure. Obviously there

[2021-10-01 21:36] AaronDavidNewman commented on #1167
I agree.  Maybe we could make a special case if there are only 1 or 2 tick contexts.  In those cases, the spacing between the notes is trivial and it might make more sense to center within the staff.  Let me play around with some variations.

[2021-10-01 22:04] ronyeh commented on #1167
A related issue: https://github.com/0xfe/vexflow/issues/798

Tick formatting is a core feature of VexFlow. I think someone else (maybe @sschmidTU) has said in the past that he prefers the layout of 1.2.xx over 3.0.9.

If we can nail down the formatting, especially for the common cases of 1, 2, 3, 4, 6, 8 ticks in a measure, that would be really awesome.

I'm not super familiar with the formatting

[2021-10-01 22:06] cldevlin opened #1169 "Missing accidentals when using "VF.Accidental.applyAccidentals""
There seems to be an issue with `VF.Accidental.applyAccidentals` where accidentals are not following the "octave rule".

Example code below, which adds the following notes:

[code]

and then calls `applyAccidentals` with a keySignature value of `C`.

Here is the VF output:

![Screen Shot 2021-10-01 at 6 03 38 PM](https://user-images.githubusercontent.com/71520213/135691002-343cb407-30dc-48c9-91ce-

[2021-10-01 22:20] ronyeh commented on #1169
Nice catch. I agree VexFlow should follow the octave convention for accidentals.

However, from the page you posted, one of the answers far down says:

So I think we should follow classical music convention by default, but add a flag to switch it to the jazz convention (if that comment is true).

[2021-10-01 22:23] cldevlin commented on #1169
I actually did my Master's degree in Jazz Performance and Composition at McGill University, and all of my professors there followed the octave convention as well!

[2021-10-01 22:23] AaronDavidNewman commented on #1167
I think most of these issues from 798 were addressed, though.  Some of our formatting test cases come from that bug.

The issue for this bug is really what to do with measures with extra white space.  The code is optimized for too little room, doesn't' handle too much room as well..  That measure looks pretty good if it's smaller.

![image](https://user-images.githubusercontent.com/5438280/1356919

[2021-10-01 22:29] ronyeh commented on #783
This is a topic that I have thought about. Glad to run across a related issue!

If you are using a release build, what I would do is add a

`debugger;`

statement right before the exception you are seeing.

Just open up the vexflow-debug.js in your sublime or vscode or vim and search for the applicable lines and drop in the debugger; statement.

Then open the JS dev tools of your favorite browser.

[2021-10-01 22:34] ronyeh commented on #1167
Should #798 be closed?

[2021-10-01 22:41] ronyeh commented on #1169
Yeah... 🇺🇲 jazz musicians don't like rules.

Just kidding, haha. In your example, it's definitely safer to add the accidental symbol. Plus, if it's the convention in classical music and in most countries other than the USA, we should follow the rule.

(Montreal is a beautiful city with yummy food!)

[2021-10-02 15:33] AaronDavidNewman commented on #1167
I think so.  I haven't heard from use Amitgur, if there are additional issues we can raise them in a different PR.

Regarding this issue, I will look at it today.  I just noticed 'Behind Bars' came out in Kindle format, and I got a copy.  I see @mscuthbert reference this a lot, so I consider it recommended.  I'd like to see what they have to say about formatting wrt to white space, if there is any

[2021-10-03 08:49] rvilarl commented on #1169
To me, without knowing the theory, it also makes more sense the indication from @cldevlin.

I have looked into the testing and the test `automaticAccidentalsMultiVoiceOffset` with the following notes:
[code]
is producing the following output:

![Accidental Automatic_Accidentals___Multi_Voice_Offset Bravura_Reference](https://user-images.githubusercontent.com/22865285/135746354-9246cb60-4fa8-4cc5-9

[2021-10-03 12:04] 0xfe commented on #1167
@AaronDavidNewman special casing 1 and 2 ticks makes sense to me. They are corner cases from a design perspective, and a large part of the formatting problem is "what looks good, what is readable, etc." which is hard to generalize into a single algorithm.

[2021-10-03 12:08] 0xfe commented on #1167
@ronyeh 1.2 algorithms were more consistent, simpler to reason about, but way too mechanical looking. (They also degraded badly across with more voices/staves.)

The new ones are, IMO, much better looking, but harder to reason about so the corner cases need to be better tested (because it's hard to anticipate how they'd look.)

[2021-10-03 14:31] #1156 closed

[2021-10-03 16:44] mscuthbert opened #1172 "Add Group Tags around elements"
Add group tags with class and pointer ids for most musical elements:

Clefs
Time Signature (within which should be groups for numerator and denominator)
Staff lines (all in one group)
Key Signature (within which, group for each accidental)
Others...

(Not sure if this is enough of a breaking change to need to go to 5.0)

[2021-10-03 20:17] rvilarl commented on #798
@0xfe according tothe discussion in #1167 this one can be closed.

[2021-10-03 20:44] rvilarl commented on #1124
All the instances of `this.x` cannot be `undefined`. I believe the lines have to be removed. I will make a PR.

[2021-10-03 20:46] ronyeh commented on #1124
It's probably a leftover from old JS, where x was just not assigned.

Now that we are in TS and have typed the x field as a number, it is either
0 or a nonzero number. I agree it should never be undefined.

On Sun, Oct 3, 2021, 1:44 PM Rodrigo Vilar ***@***.***> wrote:

[2021-10-03 20:55] rvilarl commented on #663
@0xfe @lilworks can this be closed?

[2021-10-04 03:56] AaronDavidNewman commented on #1167
I think this has more to do with the right-justification vs. the white space than with the number of notes.  The justification effectively sets the distance between the last note and the first note of the next measure.  If that is way less than the distance between the notes in the measure,  it breaks the proportionality of the rhythm, making it harder to read.  I think this is true regardless of

[2021-10-04 04:55] ronyeh commented on #1167
I agree with special casing a few of the edge cases.

I am unclear what you mean by plop one note in the middle.

For whole notes, are they normally left aligned to where the first quarter
note would be?

If it's a whole rest, I assume it is placed in the middle of the measure?

Maybe we need an official paper score that we can work off of as the gold
standard, and then see how well VexFlow achiev

[2021-10-04 05:22] ronyeh commented on #1167
It might be interesting to look for sample scores online and note down a few as targets we can emulate. For example, there are sample pages here that show how to lay out 3/4 time. I'm sure we can find examples for other time signatures as well.

https://www.henle.de/en/detail/?Title=Gymnop%C3%A9dies_1072

[2021-10-04 23:54] AaronDavidNewman commented on #1167
Here is what I have so far.  I feel like the 1/2 note case is now a bit far from the right.  But it seems on the right track.  None of the other formatting should be affected but I need to verify:

![image](https://user-images.githubusercontent.com/5438280/135939366-29a67f98-11d0-4791-8ec6-5b9109c9cd6a.png)

[2021-10-05 15:22] AaronDavidNewman commented on #1167
OK, I think I have it.  To minimize the change to existing cases, the new formatting only kicks in if the min distance between notes is > 2* existing right-padding.   So there are still some subtle changes for some tests:

Before:
![image](https://user-images.githubusercontent.com/5438280/136048173-3126cdac-edb3-4cfa-a9dc-7c4d2505998f.png)

After:
![image](https://user-images.githubusercontent.com

[2021-10-05 15:26] ronyeh commented on #1167
Looking good. Question: should the whole note be left aligned, as a special case?

[2021-10-05 15:33] AaronDavidNewman commented on #1167
According to 'Behind Bars', if it is the only note in the system, it should be centered.  If there are other notes in other voices, it will be left-aligned like normal.

I have seen publishers that do not do this, or do so inconsistently.  If you really want it to be left-aligned and it is the only note, you could just turn justification off for that measure.

[2021-10-05 15:49] ronyeh commented on #1167
Ah got it, thanks! Yes, we should follow the definitive guide to music notation 😄.

[2021-10-05 15:58] ronyeh commented on #1167
I found a quote from that section:

https://www.rpmseattle.com/of_note/archaic-techniques-note-spacing-centering-notes-of-bar-length-duration/

Behind Bars: The Definitive Guide to Music Notation
by Elaine Gould (pg 41)

So I guess it should just left of center? Is that a special case? She doesn't specify how much left of center. One glyph width? Half a glyph width? Haha

[2021-10-05 16:47] sschmidTU commented on #1167
A centered or almost center whole note looks very odd to me instinctively, as a piano and viola/violin player.
Whole notes are usually placed very close to the beginning of the measure, because you want to see what you have to play immediately without scanning the whole measure. It seems to be a standard as well.
![image](https://user-images.githubusercontent.com/33069673/136066094-ba24808a-c949-4

[2021-10-05 17:10] AaronDavidNewman commented on #1167
OK, I will yank the whole note rule from the PR.

The centered whole-rest rule seems to be universal, but I think that will be a different PR.  That would not be the formatter but the specific StaveNote b/c it doesn't apply to the whole tick context.

[2021-10-05 17:35] #1124 closed

[2021-10-05 17:38] #1162 closed

[2021-10-05 20:56] rvilarl commented on #510
@ronyeh this belongs to 4.0.0, please label.

[2021-10-05 20:59] ronyeh opened #1176 "Use puppeteer for visual regression tests"
**Problem:** The command line visual regression tests don't produce the same output as running flow.html in a browser.
* The system fonts look different. When indicating "Helvetica Neue", a Chrome browser on macOS looks fine, but generate_png_images.js produces a really thin font weight.
* No support for web fonts. ChordSymbol test cases use *.woff files. The visual regression tests fall back to a

[2021-10-05 21:12] ronyeh commented on #530
I agree that API docs and general "how to use" docs are super important for increasing adoption of VexFlow.

As we get the 4.0 release ready, we need to prioritize this.

[2021-10-05 23:56] AaronDavidNewman opened #1177 "Dots are gone in svg"
Top is canvas.
Bottom is svg :(

![image](https://user-images.githubusercontent.com/5438280/136119539-55b5e343-e21d-4ff3-a057-4b6ee09001ff.png)

[2021-10-06 02:12] ronyeh commented on #1177
I see this on my head revision too, and apparently it's all of the tests, since I'm looking at Bach Demo.

Our visual regression tests don't check SVG. :-) :-(

[2021-10-06 02:37] AaronDavidNewman commented on #1177
It seems like the issue is in svg.arc.  I'm not sure what other modifiers use arc...

[2021-10-06 04:15] ronyeh commented on #1177
Possible related PR https://github.com/0xfe/vexflow/pull/1142

This was before @tommadams and I discussed the fact that visual diffs don't cover SVG modifications. We should address that at some point. 😉

[2021-10-06 04:26] ronyeh commented on #1177
This discussion reminds me that I think SVGContext and CanvasContext could extend an abstract RenderContext which defines a high level API like `fillCircle(x, y, radius)` or other useful methods VexFlow needs.

Then the individual subclasses can implement those high level methods whichever way they please. CanvasContext could use arc() and SVGContext could call circle().

Currently we have a commo

[2021-10-06 05:43] tommadams commented on #1177
Sorry I haven't been communicative the past few days, work's been taking up all my time. I'll take a look at this first thing tomorrow morning.

[2021-10-06 08:11] ronyeh commented on #1177
@tommadams no worries! Work is important.

You can help review https://github.com/0xfe/vexflow/pull/1178

The main change is adding two equal signs: >= instead of >

"No visual diffs!" The bigger problem here is that our visual regression tests don't catch SVG regressions or bug fixes.

[2021-10-06 12:13] #1177 closed

[2021-10-06 12:16] 0xfe commented on #1176
@h-sug1no for thoughts on this

If it keeps us current, works on Mac/Linux/Windows, and allows us to test the various rendering backends, then SGTM.

[2021-10-06 17:52] tommadams opened #1179 "Make `RenderContext` an abstract base class"
I'm opening this issue to see how folks feel about making `RenderContext` an abstract base class instead of an interface.

When submitted, #1161 will allow users to pass their own custom `RenderContext` to the `Renderer` constructor.

Because `RenderContext` is currently an interface we have to use a fairly obscure type guard to figure out if an argument passed to the `Renderer` constructor is a `

[2021-10-06 18:23] ronyeh commented on #1179
Agree!

[2021-10-06 18:28] ronyeh commented on #1179
I think this is a 4.0 feature. (Not counting the fillCircle() idea above, which can be added in 4.1).

[2021-10-06 18:44] ronyeh opened #1180 "ChordSymbol: TextFont search method pulls incorrect font"
https://github.com/0xfe/vexflow/blob/f48bde41b4e1f36ac8f82ec5e9c4675c7d80e7e7/src/fonts/petalumascript_textmetrics.ts#L862

Due to that line with the fontFamily value not matching the name in:

https://github.com/0xfe/vexflow/blob/f48bde41b4e1f36ac8f82ec5e9c4675c7d80e7e7/src/textfont.ts#L96

The `getTextFontFromVexFontData()` returns Roboto Slab instead of PetalumaScript.

I discovered this while

[2021-10-07 14:35] rvilarl commented on #1155
I feel that we should set a deadline for 4.0. If some 4.0 are not ready by then, we can just delay them. What do you think? This weekend 10.10? That would be exiting!

[2021-10-08 03:56] mscuthbert commented on #1172
Tagging #1155

[2021-10-08 03:58] mscuthbert commented on #1155
I'm thumbs up.  The only things that need to absolutely need to happen by 4.0.0 is anything that we've removed planning to add back in another way needs to be restored.  I haven't seen anything like that left on the list.  There's always 4.0.1 for fixing bugs we missed, 4.1 for adding more features, and 5.0 for doing more refactors.  They can be November, December, and January releases if that's w

[2021-10-08 12:19] #1169 closed

[2021-10-08 12:21] #827 closed

[2021-10-08 12:21] #724 closed

[2021-10-08 22:53] AaronDavidNewman commented on #1167
@0xfe  nothing that I've found looks bad, if it didn't before (some of our test cases need some work, maybe I'll look at that next).  Mostly, things look better and leave more space, but you can only tell if you look for it.  Typically it's like this.  If something was formatted with preCalculateMinWidth, it isn't affected because there is no extra room for right-padding:

new:
![image](https://us

[2021-10-13 22:18] ronyeh commented on #1070
Hi @mscuthbert and @rvilarl,

We had a related discussion recently over at: https://github.com/0xfe/vexflow/pull/1148#discussion_r717134986

What I got from that discussion is that the options objects should only be "inputs" to a class's constructor, and that after we validate all the options, there should not be a way to reach into the instance and retrieve the render_options.

However, I underst

[2021-10-14 11:41] 0xfe commented on #685
This was fixed a while ago.

[2021-10-14 11:41] #685 closed

[2021-10-15 19:23] rvilarl commented on #844
@0xfe if I understand correctly the question, the answer is yes and this can be closed.

![image](https://user-images.githubusercontent.com/22865285/137541755-df0ef62c-b208-49d8-8d34-60bc01f2c9b9.png)

[2021-10-15 19:28] rvilarl commented on #555
It seems that there is no test for `Tremolo`, right?

[2021-10-16 07:22] #844 closed

[2021-10-16 10:06] #1179 closed

[2021-10-16 10:36] 0xfe commented on #1070
Thanks for the discussion. IMO, `render_options` is a bit of a mess we need to dig out of, but we'll need to do it gently. Making it wholehog protected/accessor-only or eliminating completely is too disruptive to our users, in the context of this migration where there's already a lot of API changes.

Long term, I think we should eliminate it entirely and replace `render_options` with something bet

[2021-10-16 18:10] rvilarl commented on #555
The tests included in #1186 show that Bravura is fine. However there are still problems with the other fonts.

![image](https://user-images.githubusercontent.com/22865285/137597824-a8739d7d-a311-426e-9f49-2f6736abef95.png)

[2021-10-16 20:32] ronyeh commented on #1155
Question for y'all: what's the best way to do a staging release so that people can easily npm install and test against their projects?

@0xfe would it be okay for us to npm publish a "vexflow-beta" project that includes a big disclaimer about providing no support and to not use it in production? That way Simon and Myke and others can npm install from that project and tell us what things are broken

[2021-10-17 00:10] 0xfe commented on #1070
Let's keep them public for consistency. And yes, inline where it makes sense -- that's a good idea.

[2021-10-17 00:15] 0xfe commented on #1155
I know I gave @mscuthbert access to publish the vexflow npm package, and I can give it to you too. However, is there a way to publish different "streams" for a single npm package? (It's easier to manage things if there's a single npm package, I think.)

[2021-10-17 05:41] rvilarl commented on #1070
Done #1184 ready to merge

[2021-10-17 05:45] rvilarl commented on #555
@AaronDavidNewman I did not notice that. I would live the merged explicit tremolo test, they are easier to find. Could you fix the alingment metrics?

[2021-10-17 15:51] AaronDavidNewman commented on #555
Sure, I will take a look after my current change is merged.

[2021-10-17 17:37] ronyeh commented on #1155
Sounds good. Obviously I didn't know about beta tags on npm!

[2021-10-17 21:20] rvilarl commented on #342
I believe that now tha we use TypeScript, we could this on. @0xfe what do you think?

[2021-10-18 03:45] rvilarl commented on #715
Thanks @0xfe this can be closed.

[2021-10-18 10:31] #1070 closed

[2021-10-19 04:10] rvilarl commented on #1157
@tommy-banana have you tried with `Renderer.Backends.CANVAS` for the pdf?

[2021-10-19 04:16] rvilarl commented on #1146
In `Accidentals` the following field:
[code]

[2021-10-19 04:33] rvilarl commented on #833
@0xfe I believe that this one can be closed

[2021-10-19 04:38] rvilarl commented on #481
@0xfe @mscuthbert are you planning to set this up?

[2021-10-19 04:40] rvilarl commented on #348
@0xfe this one can be closed, already captured in #1166

[2021-10-19 10:49] #348 closed

[2021-10-20 07:31] sschmidTU commented on #342
@ronyeh i wouldn't necessarily classify JS projects as old school though, many JS developers, even with React, still use JS. JS is still by far the most popular language on Github.
https://madnight.github.io/githut/#/pull_requests/2021/3
(unfortunately i couldn't find a statistic on the percentage of React projects using TS, which would be really interesting)
JS is also a beginner language that a

[2021-10-21 17:37] ronyeh commented on #342
Sorry! I didn't mean to disparage JS by saying "old school" :-) I was trying to refer to older/legacy VexFlow projects that were less strict with the typing.

If we plan to support these older projects, we could be slightly more robust with type checking. In this case, if someone supplies a number but we expected a string, we could just convert that number to a string representation of the number.

[2021-10-21 17:52] ronyeh commented on #1155
Recently we had a discussion about whether we should be checking in releases (e.g., vexflow-min.js) into the repository.

From the main README, I see that we are serving releases from unpkg.com: https://github.com/0xfe/vexflow/#using-the-html-script-tag

If we want to eliminate the production builds from the repo, while continuing to support the unpkg URL, perhaps we can utilize `.npmignore` and `

[2021-10-21 21:10] ronyeh opened #1188 "custom font glyphs (custom.js)"
This issue is just a reminder to myself to figure out how to handle custom.js going forward. Are there glyphs we should remove from custom.js (in case Bravura includes them already?). Which projects are using these glyphs?

---

The first four glyphs defined in custom.js are also present (and identical) in gonville.js.
[code]

Looking into valid_codes.js, we see that:
* v39 == accidentalBuyukMucen

[2021-10-21 23:08] ronyeh opened #1189 "Typedoc docs should not include 'tables.ts'. Should tables.ts be merged into flow.ts?"
Build and open the docs at: `docs/modules.html#Tables`

Tables is just an internal object that is copied into `Vex.Flow`, so including documentation for Tables is redundant.

The fix might be to remove `export * from './src/tables';` from the typedoc.ts.

---

I also think it's confusing that we merge the Tables object into the Flow object:

[code]

@rvilarl @0xfe Can we eliminate the tables.ts fi

[2021-10-21 23:36] ronyeh opened #1190 "Glyph Cache key should be a string instead of an array of Font objects."
While improving our handling of fonts, I ran across this:

https://github.com/0xfe/vexflow/blob/9f84f36fdd537750024615f57b6cbd94777895ba/src/glyph.ts#L92-L100

Glyph.getWidth() passes in the current font stack into the cache lookup. However, the cache uses the entire font stack array as the key. This seems slightly buggy to me. If we modify the font stack (e.g., by removing the first font, or unsh

[2021-10-22 04:44] ronyeh commented on #1190
This bug is an edge case (it requires direct modification of the font stack array), so I'm happy leaving it as is until after 4.0. Later on we can either ditch the glyph cache or make a fontstack object which comes with a precomputed cache key.

[2021-10-24 05:12] rvilarl opened #1194 "Eslint import sort plugin selection"
Once #1192 is merged and the circular dependencies are resolved, it is possible to configure in eslint rules for the order of imports.

There are three options.

The rule **sort-imports** which does not support autofix:
https://eslint.org/docs/rules/sort-imports

**Two plugins** with autofix support:
https://github.com/lydell/eslint-plugin-simple-import-sort
https://github.com/marudor/eslint-plugi

[2021-10-24 12:07] #1189 closed, assigned to nobody

[2021-10-24 12:15] #183 closed, assigned to nobody

[2021-10-27 15:30] ronyeh opened #1200 "Migration from 3.0.9 to 4.0"
This meta issue tracks any known stumbling blocks when migrating a project from 3.0.9 to 4.0.

These stumbling blocks can be addressed in our CHANGELOG file.

One idea is to use `npm link` to point the VexTab project at VexFlow 4.0, and then see what errors pop up. You can do the same with your own project, and list some of the errors here.

We can promote some to independent issues, if they are b

[2021-10-29 02:10] #1194 closed, assigned to nobody

[2021-10-30 10:20] #555 closed

[2021-10-30 10:20] #792 closed

[2021-10-30 10:47] #1120 closed

[2021-10-30 10:57] 0xfe commented on #1200
Ron, can you try it with https://github.com/0xfe/vextab please? I have instructions there around using `npm link`(see README) for developing with both VexFlow and VexTab at the same time.

Re: fields of `package.json` -- I'm no expert either, I really just used what worked without searching for the best way. I think if you have good representative TS packages to model off of, that would be great.

[2021-10-30 17:14] rvilarl commented on #705
@0xfe I think you missed this question

[2021-10-30 17:18] rvilarl commented on #481
@0xfe if not we should close it

[2021-10-30 17:20] rvilarl commented on #630
@0xfe I think that this one can be closed

[2021-10-30 18:48] rvilarl commented on #1155
@AaronDavidNewman @mscuthbert @ronyeh @sschmidTU @0xfe I vote to make a first beta tomorrow and a second one next weekend. I am pretty sure that we will get many problems in the first one and we should just give it a try. Please use the thumbs. :)

[2021-10-30 19:27] ronyeh commented on #1155
Sure I'm fine with beta. But have anyone else tried npm link yet? I ran into issues, and that's why I submitted the build improvements PR.

[2021-10-30 20:21] AaronDavidNewman commented on #1200
I think there is an issue with our current build that we may want to fix before we release.  It looks like the symbol `Vex` in flow.ts:

![image](https://user-images.githubusercontent.com/5438280/139557347-00224dcb-2374-4fad-99d5-ace7e9a06ed4.png)

is only created in releases/vexflow-tests.js, which I assume was the output of the build at an earlier time.  If you don't have anything in your releas

[2021-10-30 20:35] ronyeh commented on #1200
This issue is fixed in my branch. With `declare let Vex: any;`:

https://github.com/ronyeh/vexflow/blob/e1b596ec17b76def76bdbb19835179fc6acd3d26/tests/vf_prefix_tests.ts#L93-L97

That test case is intentionally accessing `Vex.Flow` so we can compare it against direct access to the classes in TypeScript. I added those test cases a while back, and perhaps a bad merge/rebase killed a line.

We are ju

[2021-10-30 21:35] rvilarl commented on #1200
Starting the migration with PianoPlay, first issue imports

![image](https://user-images.githubusercontent.com/22865285/139559015-6cce1dd2-438c-4505-9f77-94b78e8cc319.png)

[2021-10-30 22:37] rvilarl commented on #1200
Migration done!
TS migrated version
https://michaelecke.com/pianoplayts/#/home
Original (1.2.93)
https://michaelecke.com/pianoplay/#/home

You can open any MusicXML file

They look quite different indeed

![Captura de pantalla de 2021-10-31 00-33-06](https://user-images.githubusercontent.com/22865285/139560304-7fdf7106-5461-4846-a14b-ac037dcc9cf1.png)

![Captura de pantalla de 2021-10-31 00-32-59]

[2021-10-30 22:46] rvilarl commented on #1200
The notes are going beyond the staves :( @sschmidTU you know that I use VexFlow with OSMD, any tip?

[2021-10-31 03:20] AaronDavidNewman commented on #1200
This looks like an issue with clefNote.   What are you using to compute the width - is it `preCalculateMinTotalWidth`?

[2021-10-31 05:05] ronyeh commented on #1155
Hi all,

I want to ask a question about a possible slight restructuring of the npm package.

## Proposal for the structure of the NPM Package
- Keep the build artifacts in `build/`. When we ship to npm, the main file will be the minified `build/vexflow.js`.
- Add `releases/` to `.npmignore`. The npm package does not need to have previous releases.
- Move the releases out of the main repo. The `rel

[2021-10-31 05:18] rvilarl commented on #1200
OSMD uses the following:
[code]
@sschmidTU this is the calculation, is not it? By the way I will try the TODO

[2021-10-31 05:41] rvilarl commented on #1200
@AaronDavidNewman @sschmidTU I made an error updating the web page and I left and early version of the TS migrated code. The latest one look much better indeed!

![Captura de pantalla de 2021-10-31 06-37-57](https://user-images.githubusercontent.com/22865285/139569656-bc505a2d-fb8e-4fb0-b1ff-871af08bce20.png)

[2021-10-31 05:44] rvilarl commented on #1200
It looks also finally better than 1.2.93! This is great! I will try wit other scores.

[2021-10-31 08:21] rvilarl commented on #1200
@ronyeh I also tried with your branch in #1163 commit 50129fca5db4ca488d9bbd36fba7663f62651454 and I get the following errors (not many):

![Captura de pantalla de 2021-10-31 09-18-06](https://user-images.githubusercontent.com/22865285/139574322-3f6aabba-1ae2-466f-8db5-1fae61a1bf70.png)

[2021-10-31 08:26] ronyeh commented on #1200
Oh thanks for your help! My current commit that I've tested is b1473d90cc618a073af336bc4125e8510027222b  on https://github.com/ronyeh/vexflow/tree/setFont

The @loadFonts bit was inspired by your tsconfig paths for @bravura, @gonville, @petaluma. That seems like the biggest issue to figure out. Is it a tsconfig problem?

I assume your project is 100% TS and you are compiling with vexflow (via npm

[2021-10-31 08:27] rvilarl commented on #1200
yes, 100% TS via npm install / npm link

[2021-10-31 08:29] rvilarl commented on #1200
Same output with b1473d90cc618a073af336bc4125e8510027222b

![Captura de pantalla de 2021-10-31 09-28-48](https://user-images.githubusercontent.com/22865285/139574545-9d698b06-7d4b-46a9-9c02-4549397dc391.png)

[2021-10-31 08:29] ronyeh commented on #1200
The FontFace API is part of the web standard, and on my vscode is available via TypeScript's lib.dom.d.ts.
https://github.com/microsoft/TypeScript/blob/main/lib/lib.dom.d.ts

I didn't have to do anything for VSCode to recognize this type. For example `interface HTMLElement extends Element` is also defined in lib.dom.d.ts.

I wonder why your VSCode doesn't recognize that type?

[2021-10-31 08:33] rvilarl commented on #1200
I might be missing a npm install in my project? I say that because I have no problem compiling b1473d90cc618a073af336bc4125e8510027222b.

[2021-10-31 08:35] ronyeh commented on #1200
I found a related question and answer on:
* https://stackoverflow.com/questions/69052698/cannot-find-name-fontface-ts2304
* https://github.com/Microsoft/TypeScript/issues/30984#issuecomment-831643164

Does that mean I can just add that typings file as a dependency for VexFlow?

[2021-10-31 08:41] rvilarl commented on #1200
I installed `npm install --save @types/css-font-loading-module` and I still get the problem :(

I do not know

[2021-10-31 08:44] ronyeh commented on #1200
Weird. But when you compile my branch, it compiles fine? If you ctrl+click (or alt+click on Mac) the name `FontFace`, does it bring you to lib.dom.d.ts?

Anyways, thanks for your help. I'll see if I can repro this.

[2021-10-31 10:12] ronyeh commented on #1200
Can you dig around and see if you can find your copy of lib.dom.d.ts? Where is it stored? Which distro / OS are you using?

Even though the TS compiler and VS Code should recognize FontFace natively, I don't want this to be a stumbling block for developers who want to use VexFlow.

Either we need to find a npm package (of typings) that will make this work seamlessly, or perhaps I can declare FontF

[2021-10-31 10:16] rvilarl commented on #1200
I will do.

I have also placed complete paths in imports on all the files in
migration/4.0. This is also to avoid the problems with linux...

I use Fedora  34

El dom, 31 de oct de 2021 a las 03:13:03 AM, Ron B. Yeh
***@***.***> escribió:

[2021-10-31 10:20] ronyeh commented on #1200
I pushed one last update for tonight.

cbebfb03ae45baa2d036e7248a7d4adb01abad10

I just added a src/types/fontface.d.ts

Hopefully that will allow the types to work!

On Sun, Oct 31, 2021 at 3:16 AM Rodrigo Vilar ***@***.***>
wrote:

[2021-10-31 10:22] ronyeh commented on #1200
This is what the file looks like:
https://github.com/ronyeh/vexflow/commit/cbebfb03ae45baa2d036e7248a7d4adb01abad10

https://github.com/ronyeh/vexflow/tree/setFont

Good night! Putting my laptop (and me) to sleep. :-)

On Sun, Oct 31, 2021 at 3:19 AM Ron Yeh ***@***.***> wrote:

[2021-10-31 10:28] rvilarl commented on #1200
Good night! Here the ouput, still an error but different.

![Captura de pantalla de 2021-10-31 11-28-15](https://user-images.githubusercontent.com/22865285/139578305-30180335-4bc6-4823-ac25-c5416a8da511.png)

[2021-10-31 10:40] #489 closed

[2021-10-31 11:13] #481 closed

[2021-10-31 11:14] #630 closed

[2021-10-31 15:30] AaronDavidNewman commented on #705
I don't know the original intent, but it looks like a bug that has always been there.  Maybe just a typo when pushing 's'.

The difference now is that we enforce the type in notestruct being valid.  Going back to 1.x it doesn't look like that was checked.

[2021-11-01 06:19] ronyeh commented on #1200
Just updating folks on this thread. Rodrigo and I are collaborating over chat at the moment. We have figured out the FontFace error. The API declaration was introduced in TypeScript 4.4, and he's running TS 4.3.5. So I put in @ts-ignore comments in the appropriate places to ask VS Code / TS compiler to ignore errors in that method for now.

I'm now trying to figure out our path alias issue.

[2021-11-03 03:41] imiskolee commented on #803
@sschmidTU yes, but not very clear now, and I am try to using it on my product,  if any one interest it , please follow https://github.com/imiskolee/vexflow/tree/number-notation/src

[2021-11-04 09:57] ronyeh commented on #1200
See this thread for first steps on migrating your project to 4.0.0:
https://github.com/0xfe/vexflow/pull/1214

Quick Start:
[code]

Please respond with the errors you're seeing. I can help point you in the right direction.

Or if I'm away from keyboard, I'm sure Rodrigo can also help, since he seems to be intimately familiar with my code.... Also, we're 8 hrs offset from each other, so you'll almo

[2021-11-04 11:20] swapkats opened #1215 "How to draw two measures in EasyScore mode"
I'm struggling to find any documentation on how to draw two measures in easy score mode. I'm stuck with single measure. If I add more notes to voice
[code]
This is what I have. it results in single measure like below screenshot.
![Screenshot from 2021-11-04 16-44-54](https://user-images.githubusercontent.com/6263828/140304397-8eb16241-7b60-44a3-a1b7-724d8e236edd.png)

[2021-11-04 11:24] swapkats commented on #1215
I'm guessing EasyScore is too new a feature to support this. I should use underlying api?

[2021-11-04 11:29] swapkats commented on #1215
I think I've found the answer here https://github.com/0xfe/vexflow/wiki/Tutorial#step-7-barlines

Sorry about invalid issue.

Is there any other js sheet music rendering library like this that anyone knows about? I'm just curious how tools flowkey are approaching this.

[2021-11-04 18:52] rvilarl commented on #1200
@sschmidTU Ron and I decided to give a try at vanilla OSMD migration without my app PianoPlay.
These are the steps:
[code]
@roney this works! No problem

[2021-11-05 03:20] #1215 closed

[2021-11-05 20:25] rvilarl commented on #1200
@sschmidTU can you try the mini guide above and provide some feedback/help? Am I missing something or doing something wrong? I am not progressing. :(

[2021-11-05 22:17] ronyeh commented on #1157
The OP can try taking a look at:
https://github.com/0xfe/vexflow/blob/master/src/rendercontext.ts
https://github.com/0xfe/vexflow/blob/master/src/renderer.ts
https://github.com/0xfe/vexflow/blob/master/demos/node/customcontext.js

See if you can pass in a custom rendercontext into the renderer to handle PDF renderering. If we can identify a concrete bug in VexFlow, then we can take action.

I'm cl

[2021-11-05 22:17] #1157 closed

[2021-11-05 22:19] ronyeh commented on #1157
That said, I'm sure we would welcome a PR contributing a demo for a custom PDF RenderContext. :-) I think there are npm packages for canvas to PDF, or svg to PDF that might help with this endeavor.

[2021-11-06 05:28] ronyeh commented on #1200
I successfully migrated VexTab to VexFlow 4.0.0.

This is the patch for the migration of VexTab: https://github.com/0xfe/vextab/pull/137

I had to modify VexFlow a bit to restore some backwards compatibility. I also added some new accessors:
https://github.com/ronyeh/vexflow/commit/e5747baaa573d39a357b9767a61aa74f89781da2

I can cherry pick that commit and submit it as a separate PR if it makes it

[2021-11-06 09:59] rvilarl commented on #1200
@ronyeh the problem in the migration is that the imported vex (ie.: Vex.Flow.StaveNote) can be used to instantiate an object:
`vfnote = new Vex.Flow.StaveNote(vfnoteStruct);`
but not as:
1) type `vfnote: Vex.Flow.StaveNote  = ...`
2) return type in functions `getNote():  Vex.Flow.StaveNote {...`

[2021-11-06 14:04] rvilarl commented on #1200
Several scores using the migration above in PianoPlay.
@ronyeh this is using #1214 without modification, this is very good! We must find a way though to avoid the usage of any in the migration of OSMD
![Captura de pantalla de 2021-11-06 14-52-49](https://user-images.githubusercontent.com/22865285/140612153-349a9074-f556-484c-9907-47ae49b85922.png)
![Captura de pantalla de 2021-11-06 14-59-20](http

[2021-11-06 20:52] rvilarl opened #1217 "OSMD migration to vexflow 4.0: `any` required all over the place"
The migration of OSMD to vexflow 4.0 required a lot of `any`. I am particulary annoyed because with all these anys we lose the the benefits of TypeScript type checking.

See:

https://github.com/rvilarl/opensheetmusicdisplay/pull/2/files

[2021-11-06 20:58] rvilarl commented on #1217
I have been googling and I found the following article:

 https://basarat.gitbook.io/typescript/main-1/defaultisbad

This make me think to move away from:

`export default Vex;`

and protoype:
[code]
With this approach I could import `RenderContext` and use it in OSMD without issues avoiding its related `any`

[2021-11-06 21:02] rvilarl commented on #1217
This would be a breaking change in current applications requiring:
`import { Vex } from "vexflow";`
rather than:
`import Vex  from "vexflow";`

But it has the big benefit to use:
`import { RenderContext, Vex } from "vexflow";`
in future applications (RenderContext is just an example).

[2021-11-06 21:03] rvilarl commented on #1217
@0xfe @mscuthbert @AaronDavidNewman @sschmidTU @ronyeh what do you think?

[2021-11-06 22:56] AaronDavidNewman commented on #1217
Same with smoosic.  Isn't there a way to create a typescript declaration file?

https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html

Then OSMD (and smoosic) could import @types/vex.  I don't know if this is an automatic process though.

It is not an either-or, is it?  You can use the types if you want the types, the code will have to change anyway.

[2021-11-06 23:27] ronyeh commented on #1217
Yes, the current version creates all the d.ts files. Let me send you an
example TS project that sees the types correctly.

On Sat, Nov 6, 2021, 3:56 PM Aaron ***@***.***> wrote:

[2021-11-06 23:50] ronyeh commented on #1217
Regarding default export or not, I don't mind either way. Last week I tried doing the no default exports approach:
`import { Vex } from "vexflow";`

But I realized I would be breaking old projects and we would have to change the documentation to reflect this new way. So, I reverted to the default export approach that we had in 3.0.9.

Anyways, let me post my TS integration example, and we can iter

[2021-11-07 12:45] 0xfe commented on #1217
I would love to see some instructions on how we can use the current master branch with typescript and es6. We have a lot of documentation to update. Particularly the tutorials.

[2021-11-07 15:06] rvilarl commented on #1217
Can you point to an example? I mean a tutorial that needs update.

[2021-11-07 15:32] AaronDavidNewman commented on #1217
I don't think the tutorial uses typescript though.  So like `var notes:Note[] = [];` etc

[2021-11-07 15:41] rvilarl commented on #1217
I would suggest to move the tutorials to a tutorials directoy in the source code and point to this directory in the wiki. With that we would make sure that they are mantained and do work. What do you think? I know that Ron agrees on that we have been discussing it in the past.

[2021-11-07 16:42] rvilarl commented on #1217
After a long day of migration the attributes accessed by OSMD which are not public are the following:
[code]

[2021-11-07 16:44] rvilarl commented on #1217
I had to follow the approach above to get rid of the `any` in order to identify the accessed protected attributes.

[2021-11-07 16:46] rvilarl opened #1218 "Tutorials directly in code."
I would suggest to move the tutorials to a tutorials directoy in the source code and point to this directory in the wiki. With that we would make sure that they are mantained and do work. What do you think? I know that Ron agrees on that we have been discussing it in the past. @0xfe what do you think?

_Originally posted by @rvilarl in https://github.com/0xfe/vexflow/issues/1217#issuecomment-96263

[2021-11-07 17:22] ronyeh commented on #1217
In my TypeScript integration example project, I didn't have to change the way we import VexFlow.

https://github.com/ronyeh/vexflow-example-typescript/blob/1378148f54c297d3b40c36a9730df86e2f20cd63/app.ts#L1

You can technically import as follows:

`import Vex, { RenderContext } from 'vexflow';`

Or you can do it on two separate lines.

But I admit your approach looks slightly cleaner, even though

[2021-11-07 17:44] ronyeh commented on #1218
I think they could all live inside the `docs/` folder.

The wiki could remain as a bullet point list of links to appropriate example code and markdown docs. It can still contain user contributed snippets, but anything more complicated that a snippet that renders a 2 bar score to a div with id=boo should probably be in its own source file so it's more maintainable. Luckily GitHub makes source file

[2021-11-07 19:49] rvilarl commented on #1218
I am in the same line, I believe. Documentation generated with typedoc in `docs/` the tutorials in code in `tutorial/` or `demos/` this code should be executable and also link in the docs using markdown (ie.: `[[include:tutorial1.ts]`)

[2021-11-07 20:38] ronyeh commented on #1218
Right now, when we run grunt, the output of typedoc goes into `vexflow/build/docs/`.

I think the auto generated docs could remain in the build folder, since that folder is removed whenever we build. It would be slightly messier to put them in `vexflow/docs/` alongside any manually written markdown files.

I propose putting the tutorial and manually written documentation inside `vexflow/docs/`, an

[2021-11-07 21:20] rvilarl commented on #1218
I see your proposal goes further. I was just thinking about running tutorials in TS and referencing/including them within Vex.ts or Index.ts with mark down to get them in the typedoc documentation.

[2021-11-07 21:26] rvilarl commented on #1217
OSMD is now integrated with 4.0.0-alpha. I just used ts-ignore with the problems referenced above.

It does no longer work with PianoPlay :|

@sschmidTU debugging it together with my App would be to complex how should I check if the compiled OSMD is working?

[2021-11-08 11:41] ronyeh commented on #1155
Check out the latest version here:

https://github.com/ronyeh/vexflow/tree/4.0.0-alpha

The accompanying typescript example is here:

https://github.com/ronyeh/vexflow-example-typescript

You can also take a look at the `tsconfig.json` in the typescript example project for a more direct way to use the vexflow typescript source files directly.

Have fun, and let me know if you have any questions.

[2021-11-09 23:29] ronyeh opened #1222 "ES Modules vs CommonJS"
I've been improving the build process so that projects old and new can integrate with VexFlow 4.

Different projects want to integrate with VexFlow in different ways.
* `<script src="vexflow.js"></script>`
* `require('vexflow.js')`
* `import Vex from 'vexflow'`
* `import { Vex, Accidental, Stave, ... } from 'vexflow'`

Our current 4.0.0 alpha branch supports all of these cases, but emitting the ES

[2021-11-10 07:33] rvilarl commented on #1217
Migration of OSMD done with all checks passed!

https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/pull/1085

[2021-11-10 07:35] rvilarl commented on #1217
In the migration I found another protected attribute that is accessed `StringNumber.radius`

[2021-11-10 07:44] rvilarl commented on #1217
PianoPlay also working with OSMD

https://michaelecke.com/pianoplayts/

[2021-11-10 12:27] sschmidTU commented on #1222
I've looked a bit into JS imports in the past, and it seems like a bit of a mess to me, so I don't have a clear preference for now. I probably need to research it more. But I still don't understand why there is no standard way to export things in javascript so that you can import it everywhere, sounds simple enough. For script tag and require, the browser or engine should take care of it. Though m

[2021-11-10 15:07] mscuthbert commented on #1217
My feeling is to make them public for 4.0 and we can make them protected in 5.0 with accessors.  But better at this point not to make more API changes in 4.0.

[2021-11-10 15:52] ronyeh commented on #1217
Sounds good! I'll send you all a new alpha build today with all of those properties made public again.

[2021-11-10 15:55] ronyeh commented on #1222
Thanks for the note! In my 4.0 branch, all of the options I mentioned are supported.

The only issue is that our project now defaults to Common JS style build product, and I have to hack it to produce the ES modules. Going forward (maybe in v5.0), I believe we should default everything to ESM, and then make CJS the special case.

[2021-11-10 16:03] ronyeh commented on #1222
These are the build output JS files in the current 4.0 alpha:

The vexflow/build/ folder contains all the regular CJS files which work with script tag and require:
[code]

Inside the vexflow/build/esm/ folder are the ES modules:
[code]

The esm folder has an extra package.json that tells client code to treat these JS files as ES modules:
[code]

Each of the ESM files is just a copy of the regular

[2021-11-12 09:35] tommy-banana commented on #1157
Thanks Ron - will get back to this soon.

Best

Tom Bancroft
+447974 983701
Sent from my iPhone

[2021-11-12 11:23] 0xfe commented on #1218
I like the notion about code reviewed and committed docs, but I'm trying to balance usability and overhead too. Docs are more for users than us developers, so trying to optimize for UX is more important to me than optimizing for ourselves.

Open to ideas, however the pattern on the front page of `vexflow.com` is ideal, IMO. (jsfiddle rendered tutorials, with editable code.)

[2021-11-12 11:24] 0xfe commented on #1218
To be clear, we can certainly have both -- and the tests do a great job of documenting the APIs too.

[2021-11-12 18:56] #655 closed

[2021-11-13 11:16] tangtao007 opened #1224 "use VexFlow to flutter?"
I want to use vexflow in the flutter project? It is ok?

thanks

[2021-11-13 16:06] AaronDavidNewman commented on #1224
No need to ask permission :)  I guess you're planning to create a Dart wrapper around the library so you can access it from Flutter?  I know nothing about these technologies, but I'm sure it's possible.  Please share more...

[2021-11-14 13:15] 0xfe opened #1225 "Warnings during grunt build"
### Non-existent property access inside circular dep:

[code]

### Unsupported TS

(Is this me?)

[code]

[2021-11-14 13:35] #1190 closed

[2021-11-14 13:35] #1200 closed

[2021-11-14 13:35] #1217 closed

[2021-11-14 16:48] ronyeh commented on #1222
@0xfe you commented on the beta merge about the ESM hack. I'm 90% of the way to a clean solution already. I didn't want to delay the beta launch though so I left the hack in.

**My proposal for clean ESM support (with compatibility for legacy CJS):**
[code]

Inside the cjs/ folder are the webpack generated bundles compatible with the ol' reliable `<script>` tags.
[code]

Inside the esm/ folder are

[2021-11-14 16:52] ronyeh commented on #1225
I looked into this last week, and it's possible that one of our node modules uses `shelljs` which causes these warnings. You can try searching for the error messages. Maybe we can manually bump shelljs to see if it goes away.

The TS issue is from me. :-) I upgraded us to TS 4.5 RC. Once TS 4.5 is officially released, TypeDoc will catch up and then that warning will go away.

[2021-11-14 17:21] ronyeh commented on #1155
Congrats everyone on getting to 4.0-beta!

I will keep this issue open as a meta / tracker issue and we can close it once the official release is out.

## Suggested PRs for refinements to 4.0 beta 2
### Better Documentation
I'd suggest updating and migrating the wiki docs into markdown files stored in the `vexflow/docs/` folder. The current contents can go into `docs/3.0.9/` for now. The wiki can

[2021-11-14 17:33] ronyeh opened #1228 "Export VexFlow classes as `VFClassName` in addition to (or instead of) `ClassName`"
While migrating Music21J and OSMD, Rodrigo and I discovered that some projects have lots of name collisions with vexflow classes. This makes sense, since a music project that includes vexflow might declare their own Note class or Articulation class.

This means that developers have to do things like:
[code]

It's fine for a one off, but maybe it gets annoying if they have to import 10 classes, and

[2021-11-14 17:37] ronyeh commented on #638
OK, I'm going to close this as "solved" by the two lines of code Simon / Mohit provided.

[2021-11-14 17:37] #638 closed

[2021-11-14 17:41] ronyeh commented on #181
I love reading historical discussions like this to learn about design decisions. :-) Someday maybe we can create a "best-of" list of PR discussions and stick them in our wiki somewhere, hehe.

But I think this issue is now **solved** since we now have good SMuFL support in VexFlow. (We also have support for web fonts, too!)

[2021-11-14 17:41] #181 closed

[2021-11-14 21:00] rvilarl commented on #1228
Would it be possible just to use:
[code]
and then use VF.Classname?

[2021-11-14 23:43] 0xfe commented on #1228
Not a fan of putting aliases in this codebase -- these things tend to be very opinionated, and we have one more moving part to maintain (and support forever.) It's easy enough for consumers to create their own alias files.

[2021-11-15 04:11] ronyeh commented on #1228
OK, sounds good to me. It seemed like a nice little usability feature for developers who npm install vexflow, but I can see how it can be extra work to maintain, and also possibly confusing to the developer.

[2021-11-15 04:11] #1228 closed

[2021-11-15 05:07] ronyeh opened #1231 "Do we keep the build/* or releases/* in the repository?"
Hey everyone,

I just wanted to make sure we are all aligned with what we plan to do with generated files (e.g., `build/*` and `releases/*`).

Currently, the output files are stored in `build/*` and then npm published. The package.json specifies these two folders to publish:
[code]

If a developer wants to use a script tag for one of the bundled JS files, they can use a CDN that delivers NPM packa

[2021-11-15 10:38] sschmidTU commented on #1231
I would like to keep the repository (and npm release) small and avoid adding big build files, if possible.
If you're worried about build preservation or not being able to replicate a release, you can publish the release on Github. (OSMD always publishes releases both to NPM and Github Releases)

For example, The Vexflow 1.2.93 npm package is 12.6MB, which seems a bit unnecessary.
![image](https://

[2021-11-15 10:53] 0xfe commented on #1231
Ron, I like the idea of using [github releases](https://github.com/0xfe/vexflow/releases) for this. I've used it for other projects, and it's designed for exactly this kind of thing. With that, we can go with your proposal. (Although, I don't get why `releases/` needs to be an empty directory -- why don't we just delete it?)

[2021-11-15 22:50] ronyeh commented on #1231
Sounds good. Yes, we can definitely delete the releases/ directory. Then any script we run that pulls down releases can make that directory again and stick the downloads in there.

[2021-11-15 22:54] ronyeh opened #1234 "OffscreenCanvas types missing"
@tommadams for advice.

After I npm installed the new vexflow 4 beta, I tried building a barebones TS project and I get these errors.

[code]

Is it because the @types/offscreencanvas is a devDependency? I guess I'll try moving it to regular dependencies to see if it changes anything.

[2021-11-15 22:58] tommadams commented on #1234
Ah, my bad. Yes, it's probably because offscreencanvas is a dev dependency not a regular one.

I compile vexflow and my personal project separately, which is why I missed that.

[2021-11-15 22:59] ronyeh commented on #1234
https://github.com/microsoft/types-publisher/issues/81#issuecomment-234051338

This might be relevant. I'll try moving it over to a regular dependency.

[2021-11-16 03:49] ronyeh commented on #1225
It does look like it is shelljs. We don't require it directly, but one of our dependencies does. Not sure how to upgrade shelljs by itself, if our dependencies require a specific (older) version of it.

[code]

[2021-11-16 03:51] ronyeh commented on #1225
[code]
Current shelljs is 0.8.4, so maybe we can upgrade those two dependencies.

[2021-11-16 20:09] mscuthbert commented on #1228
I'm okay with doing `import * as VF from 'vexflow'` -- I tend to like having everything namespaced that I import anyhow.

[2021-11-17 03:53] ronyeh commented on #1222
One current roadblock is that when compiling TypeScript down to ES module files, we need to add *.js extensions to all the imports.

This issue is known and Microsoft says they aren't planning to add a compiler option for it.
https://github.com/microsoft/TypeScript/issues/16577

TypeScript:
[code]

Output JS file (ESM):
[code]

The above fails. It needs to look like:
[code]

If anyone knows a good

[2021-11-20 11:58] #510 closed

[2021-11-20 11:58] #530 closed

[2021-11-20 12:04] #1180 closed

[2021-11-20 12:11] 0xfe commented on #1225
Good find. Is there an alternative to `grunt-release`?

[2021-11-20 12:16] 0xfe commented on #1234
So I want to really preserve the "no dependency" aspect of VexFlow. I'm guessing the non-dev dependency here is temporary until it's broadly available in TS, and we can remove the dependency, right?

[2021-11-20 18:41] ronyeh opened #1235 "TypeDoc issues with HTML tags in the comments"
<img width="1404" alt="S 2021-11-20 at 10 30 22 " src="https://user-images.githubusercontent.com/239113/142737322-f25e3061-583c-4d62-a1c7-088593ff0c6e.png">

The above issue is in `vexflow/docs/api/classes/CanvasContext.html#canvas` although I'm sure it shows up in other files as well.

Scroll down to the **canvas** property and it looks like the comment is broken. If you use the dev tools dom ins

[2021-11-20 21:48] rvilarl commented on #1235
Yes the documentation is auto generated and I am sure that we will find quite a few issues in the TS sources. But now that they are there we will fix the issues little by little. Good finding! Go for the fix!

[2021-11-21 09:11] ronyeh commented on #1234
I like the idea of "no (non-dev) dependencies". For this case, it might take a while for it to be included in TypeScript since it is enabled by default in only two modern browsers (Chrome and Edge). https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas/OffscreenCanvas#browser_compatibility

The good news... the entire dependency is a single 82-line type definition file: https://github.c

[2021-11-21 09:20] rvilarl opened #1236 "WIKI: references to public.vexflow.com"
@0xfe I have seen that the wiki points to a server public.vexflow.com do you maintain this one?

_Originally posted by @rvilarl in https://github.com/0xfe/vexflow/issues/1229#issuecomment-974657468_

[2021-11-21 09:29] ronyeh commented on #1225
I'd vote for putting together an interactive step-by-step node script that does the same thing. (Yeah, we'd be reinventing the wheel a little.)

It would use built in node / npm / git / github CLI commands. For example, bumping the version number is: `npm version`
https://docs.npmjs.com/cli/v6/commands/npm-version

It could also log the exact commands it will run, and the user can hit enter to con

[2021-11-21 10:47] rvilarl commented on #1236
I have been looking at options and I recommend to setup pages:

https://rvilarl.github.io/vexflow/api/index.html

I have done it in my fork and it works well:

https://rvilarl.github.io/vexflow/api/index.html

icons are not working properly because LF was adjusted by git, but this should be solvable

[2021-11-21 11:42] 0xfe commented on #1236
Thanks Rodrigo, I can do that. (I own public.vexflow.com, I can redirect it here.)

[2021-11-21 11:43] 0xfe commented on #1236
And this works: https://0xfe.github.io/vexflow/api/index.html :-)

[2021-11-21 11:57] 0xfe commented on #1234
Thanks for digging in, Ron. Since this will eventually go away, this is fine with me. (Also type defs are just used during build time, so it's not a huge concern.) Thanks!

[2021-11-21 13:07] rvilarl commented on #1236
Then I will move the references to the API in the wiki to pages.gitHub, if you agree. With this method the API will be always up to date.

[2021-11-21 13:18] 0xfe commented on #1236
Sounds perfect!

[2021-11-21 20:22] rvilarl commented on #1236
There is now no reference to public.vexflow.com in the wiki.

[2021-11-21 20:22] #1236 closed

[2021-11-21 21:30] rvilarl commented on #481
And there is a google group by the way:

https://groups.google.com/g/vexflow

[2021-11-22 07:17] rvilarl commented on #1155
My suggestion is to reduce the number of open issues to 50.

[2021-11-22 14:35] sschmidTU commented on #1222
To be frank, the above would be a dealbreaker for me. The whole ESModule thing seems unfinished on their side, to be honest, I wouldn't like to use it in production yet. I'll probably try to use Vexflow 4 with CommonJS first. ESModule also needs adaptation in various places in OSMD, and prevents user from using it in a CommonJS way, e.g. in simple node scripts.
But that's just my point of view. I'

[2021-11-22 16:10] rvilarl commented on #485
@AaronDavidNewman could you look into that? The problem is still there

![image](https://user-images.githubusercontent.com/22865285/142895719-a7c93c5b-f813-4928-bc46-0bc4c41a8fe4.png)

[2021-11-22 16:18] rvilarl commented on #411
@AaronDavidNewman the test is there in #1238

![image](https://user-images.githubusercontent.com/22865285/142896887-be15dc4e-089c-4182-84d8-26108c9fd86f.png)

[2021-11-22 16:24] rvilarl commented on #1224
@tangtao007 as @AaronDavidNewman said, it is ok. Will you share more in this thread?

[2021-11-22 20:03] rvilarl commented on #1222
@sschmidTU In the migration OSMD, the usage of ESModule rather resolved issues. The latest migration PR that I created is much simpler that the previous ones. What are the problems? Perhaps we can help.

[2021-11-22 22:16] ronyeh commented on #1222
Yeah this is totally fine and we're not removing CJS any time soon. (It's how VexFlow has always been deployed after all.)

The TS => ESM conversion has two solutions:
1) Rewrite our TypeScript source files to always include a .js extension. Apparently this is legal TS, but we'd have to make sure our webpack resolves the imports correctly. So if we do `import { Accidental } from './accidental.js'`

[2021-11-22 22:24] rvilarl commented on #1222
Thanks Ron! 1 is quite interesting, this is worth a try, there are not many imports in OSMD.

[2021-11-22 22:25] ronyeh commented on #1155
I don't have an problem with keeping old issues around if we (eventually) want to handle it. However, if there is no momentum for something, or if an issue is no longer actionable due to it being outdated or too vague, we can always close it. The originator of the bug can always submit a new one if it still applies to his/her project, and we can investigate (as long as we can repro).

[2021-11-22 22:28] ronyeh commented on #1222
Solution 1 means that in VexFlow, we always end our imports with a .js. I figured that would be kind of annoying, especially since VSCode doesn't do it automatically when using auto complete.

Anyways, we can discuss further once I post the next beta for you all to test, with the updated ESM support. I think the rewrite imports/exports solution works OK for now.

[2021-11-22 22:32] jameshfisher commented on #334
Can someone give me a full example of how to use this? Here's what I currently have:

[code]

[2021-11-22 22:34] ronyeh commented on #1222
Inside accidental.ts, we have
[code]

In solution 1, we would manually edit our TypeScript files to look like:
[code]

We would have to tell WebPack to look for ts files instead of js files, even though we specify js extensions.

Then when we use tsc to build the ES modules, the imports still retain the .js extensions, so they will work fine.

Instead of doing that, I opted for solution 2, where I

[2021-11-23 15:37] sschmidTU commented on #1222
@rvilarl As I said, you can't use `require` on an ESModule, so the `generateImages` node script doesn't work as it currently is in OSMD, probably needs to be converted to an ESModule. Interestingly, our plain javascript (RawJavascript) example project works with it, using a script tag. It doesn't even need `type=module`, so I guess the browser figures that out on its own. But we can continue the d

[2021-11-24 08:07] ronyeh commented on #1222
Hello Simon @sschmidTU,

VexFlow 4 will support both CJS and ESM, so OSMD is fine either way.

In fact it is possible to slowly transition your project over to ES modules while keeping some of your scripts as common JS. It is done via the package.json **type** field: https://nodejs.org/api/packages.html#type

If you specify "type": "module", all JS files in that folder (or its descendant folders)

[2021-11-24 12:20] sschmidTU commented on #1222
@ronyeh Thanks for the info! I did try to rename my script to `.cjs`, but it doesn't work. But it's okay, I can just migrate the script to make it work.
The error messages aren't very helpful though:
[code]

[2021-11-24 12:27] sschmidTU commented on #1222
@ronyeh Thanks for the info! I did try to rename my script to `.cjs`, but it doesn't work. But it's okay, I can just migrate the script to make it work.
The error messages aren't very helpful though:
[code]

Here's line 10 (in the non-minified build) where self is indeed not defined beforehand (i'm guessing some webpack/module magic):
![image](https://user-images.githubusercontent.com/33069673/143

[2021-11-25 21:47] rvilarl commented on #1224
@0xfe I suggest to close this one

[2021-11-28 13:26] #1225 closed

[2021-11-28 13:26] #1234 closed

[2021-11-28 13:32] 0xfe commented on #1155
+1 for just closing old issues

[2021-11-28 13:54] rvilarl commented on #1224
@0xfe you missed this one.

[2021-11-28 13:56] rvilarl commented on #705
@0xfe do you have a oppinion on this one?

[2021-11-28 17:58] rvilarl commented on #1231
@ronyeh you can close this one

[2021-11-28 23:31] h-sug1no opened #1240 "flow.html: Font.setFont test failed: macOS safari"
[code]
- buid e3d0eb8f7eab7900b645245adfa61a2a680fc015  and load flow.html by using macOS safari
- Font.setFont test failed
[code]
![image](https://user-images.githubusercontent.com/59550999/143790754-1ef50da9-30d7-4e88-b6d7-e61638d7bd02.png)

[2021-11-29 01:37] h-sug1no opened #1241 "svg:MeasureTextCache cache: The cached glyph width depends on the order of the tests."
- build e3d0eb8f7eab7900b645245adfa61a2a680fc015 and load (Reproduce in chrome, safari, and FX):
{TabSlide › Simple TabSlide › SVG + Bravura} (Assume that all tests that use the MeasureTextCache are affected)
1. tests/flow.html#TabSlide.Simple_TabSlide.Bravura
2. tests/flow.html?module=TabSlide#TabSlide.Simple_TabSlide.Bravura

![image](https://user-images.githubusercontent.com/59550999/143795071-

[2021-11-29 02:57] rvilarl commented on #1240
Did you try in Chrome?

[2021-11-29 03:16] sug1no commented on #1240
No problem with chrome and fx.

[2021-11-29 03:17] h-sug1no commented on #1240
No problem with chrome and fx.

[2021-11-29 11:34] 0xfe commented on #1240
Interesting that adding a test broke this.

[2021-11-29 11:35] #1235 closed

[2021-11-29 11:36] 0xfe commented on #1241
yikes, thanks for catching this @h-sug1no!

[2021-11-29 22:13] rvilarl commented on #1240
@h-sug1no could you try if a44b7818de42be1fded3fd741088e809a47fa687 also produces the error?

[2021-11-29 23:25] h-sug1no commented on #1240
4bcaa2e4839d37b1d84ee3eadb28c6e222228 also produces the error.

As the message indicates, here's the error:

https://github.com/0xfe/vexflow/blob/7174bcaa2e4839d37b1d84ee3eadb28c6e222228/tests/font_tests.ts#L46

[2021-11-30 06:31] rvilarl commented on #1240
Ok so the problem is not the new test.
@0xfe FYI
@ronyeh can you reproduce that in your mac?

[2021-11-30 07:09] ronyeh commented on #1240
Thanks for the bug report. I will investigate this. (This is my test case that failed). Maybe I should use Safari more!!!

[2021-11-30 07:17] ronyeh commented on #1241
I'll take a look this week. I'm not familiar with the measure text cache but can investigate it.

How did you notice this bug, by the way?

Have you also been running the command line tests in parallel? We should get more of us testing the parallel visual diffs, and then promote it to be the default!

[2021-11-30 09:30] h-sug1no commented on #1241
Ah...though my puppeteer visual-regression-test branch is still on going, it can generate svg(and png (generated by UA from svg data)) files. I found this problem when I was testing my branch.

you can test my branch as follows:

clone and checkout:
https://github.com/h-sug1no/vexflow/tree/vrtest-puppeteer-backend-1

[code]
then you can get the following errors:
[code]

I have no time to fix my br

[2021-11-30 14:14] sschmidTU commented on #1240
If you want to see a lot of errors that never appear in Chrome, Firefox or Edge, definitely ;) Safari and all iOS browsers also have issues with audio playback (different topic).

[2021-11-30 22:04] rvilarl commented on #987
@bobderrico80 can you look into #1242? Does that fullfil your request?

[2021-12-01 04:58] rvilarl commented on #1149
@0xfe @ronyeh this should be an easy one to close, it is just deciding the proper names. My proposal:

- `SystemParams` -> `SystemStave`
- `...Options` class options provided to the constructor: `CrescendoParams` -> `CrescendoOptions`, `TextBracketParams` -> `TextBracketOptions`,
- `...Params` group of parameters used on functions: `FormatOptions` -> `FormatParams`

[2021-12-01 07:28] #1231 closed

[2021-12-01 22:44] rvilarl commented on #1188
The glyphs details are different, I believe that with the new approach in #1242 where there is no glyph for the undefined ones (NOGLYPHS) there is no need to reduce the custom glyphs further.

[2021-12-03 17:08] rvilarl commented on #836
I have decided to document this topic within the api. There I have also documented the possibiliy to use drawWithStyle:
[code]

[2021-12-03 18:59] rvilarl commented on #654
_noteheadBlackParens_ can be found in http://www.smufl.org/files/smufl-1.18.pdf

[2021-12-03 20:10] rvilarl commented on #654
@0xfe I would suggest to use `p` for Parenthesised. Would you agree to add this feature?

[2021-12-03 20:30] rvilarl commented on #705
After analysing #654 I believe that this is a bug and that
[code]
should be
[code]
in `EasyScoreGrammar`. The valid note types in `Tables` are:
[code]
where `m` ("muted") corresponds to the `noteheadX...` glyphs.

[2021-12-04 13:59] #836 closed

[2021-12-04 14:00] #1149 closed

[2021-12-05 11:39] 0xfe commented on #705
Actually `x` (muted) is used in the guitar tabs, so we'll have to support it.

I think the valid note types should be `x` for muted (I think that's the bug.) Maybe an easy fix is to add `x` to `validNoteTypes` and assigning `name: 'muted'` to it.

[2021-12-05 11:39] #1146 closed

[2021-12-05 11:39] #1224 closed

[2021-12-05 11:43] 0xfe commented on #654
Yes, that sounds good.

[2021-12-06 07:11] ronyeh commented on #1240
https://stackoverflow.com/questions/51440257/safari-missing-font-weight-component-when-retrieving-font-property-from-canvas

So it looks like Safari might be buggy? According to that stackoverflow question, if you set the canvas context's font to bold, and then read the font, Safari doesn't report that the font is bolded.

I guess.... I can just change the test case?

[2021-12-06 07:20] ronyeh commented on #1240
I have confirmed the Safari bug with this example:

http://jsfiddle.net/41f6otya/5/

On Chrome it shows 80px bold Arial.
On Safari it shows 80px Arial, even though the font is actually bolded.

On this example:
http://jsfiddle.net/2h0cdLug/1/

We see that Safari correctly reports that the font is italic. However, it still misses the "bold". Chrome correctly reports "italic bold 80px Arial".

I'll

[2021-12-06 07:20] #1240 closed

[2021-12-06 09:17] ronyeh commented on #1241
I investigated a bit.

I think might be because some of the text cases call `ctx.scale(1.5, 1.5)`.

Currently, when we scale a SVG context by 1.5X, we modify the viewBox attribute. I think the reasoning is that it should operate similarly to CanvasContext. If the SVG is scaled up, its containing box will be the same size, but we "zoom into" the image.

A different approach would change the SVG ele

[2021-12-07 04:55] tommadams commented on #1241
Sorry I didn't see this issue earlier, I've not had much time for personal projects recently.

I added the glyph measurement cache because it speeded up the unit tests by about 20%. Without the cache, every single call to measureText on a CanvasContext will cause a document reflow.

I'm all for deleting the cache if its buggy. I actually have a branch that I'm working on that factors texture measu

[2021-12-07 05:16] ronyeh commented on #1241
I don't think we need to delete the cache just yet. The measurement numbers are basically the same. :-) It only affects the visual regression tests if we run them out of order (or in parallel).

On a given score in the real world, no one will notice if something  is off by 0.1 pixels. Plus, this only happens if someone has two scores at different context scales rendering the same text.

I like you

[2021-12-07 12:28] #1129 closed

[2021-12-07 12:28] #1188 closed

[2021-12-07 15:09] sschmidTU commented on #1241
Just a quick idea: Can't we save the pixel value for 1.0 scale and restore it later?
Whenever you have an out of order testing bug, usually you can either reset the values before the test or store and restore values that tests modify.
This may not work or be helpful, but I thought I'd mention it.

[2021-12-12 12:12] #987 closed

[2021-12-15 09:35] compilelife commented on #990
osmd has a fix for this : https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/issues/414
(though not so elegant）

Hope some vexflow way to solve this.

I think that 'join voice 1 at a time' is not a correct way to use formatter. Since joinVoice would share only one modifier context around every voice in parameter. Voices in same stave should share one modifier context, which means joinV

[2021-12-16 15:39] sschmidTU commented on #990
@compilelife you should probably open a new issue, it's easy to overlook a closed one.
Also maybe add more details. Is it the same problem as in the first 2 images in this thread?

[2021-12-16 17:45] rvilarl opened #1252 "OSMD VexflowPatch: Beam"
With this one I will start a set of open issues that were resolved patching in OSMD. @sschmidTU we will need your help to get examples, etc...

Description:
add flat_beams, flat_beam_offset, flat_beam_offset_per_beam render_option

@sschmidTU please provide screen shots

[2021-12-16 17:47] rvilarl opened #1253 "OSMD VexflowPatch: Stave"
prevent a bug where a modifier width is NaN, leading to a VexFlow error
stave.setSection(section, y, xOffset = 0, fontSize = 12):
add xOffset, fontSize arguments (see stavesection.js)

[2021-12-16 17:48] rvilarl opened #1254 "OSMD VexflowPatch: StaveNote"
Fix stem/flag formatting. Instead of shifting notes by default, update the stem/flag rendering to render different voices aligned.
Only offset if a note is the same voice, same note.

[2021-12-16 17:49] rvilarl opened #1255 "OSMD VexflowPatch: StaveRepetition"
add TO_CODA enum to type() and draw()
fix x-positioning for TO_CODA and DS_AL_CODA in drawSymbolText()
fix y-shift

[2021-12-16 17:51] rvilarl opened #1256 "OSMD VexflowPatch: StaveSection"
stavesection.draw():
adjust rectangle positioning, make height depend on text height

[2021-12-16 17:51] rvilarl opened #1257 "OSMD VexflowPatch: StemmableNote"
Add manual flag rendering variable so we can choose not to render flags if notes are sharing a stem.

[2021-12-16 17:52] rvilarl opened #1258 "OSMD VeflowPatch: Tremolo"
Add extra_stroke_scale, y_spacing_scale

[2021-12-16 21:34] rvilarl commented on #1258
@sschmidTU what is the intended feature. In OSMD there is only one test dedicated to Tremolo and there is not really a difference between blessed and current.

**Blessed**
![OSMD_Function_Test_Tremolo_2bars musicxml_1](https://user-images.githubusercontent.com/22865285/146452140-5d5c6170-c0e8-482b-b6b7-f70c0ee3b66f.png)
**Current**
![OSMD_Function_Test_Tremolo_2bars musicxml_1](https://user-images

[2021-12-16 21:52] rvilarl commented on #1252
@sschmidTU no noticiable differences on Beams
**Blessed**
![test_percussion_beamed_notes_tuplet_stem_direction musicxml_1](https://user-images.githubusercontent.com/22865285/146453744-d33343dc-77f8-4b79-b3d3-2df50b2af1c4.png)
**Current**
![test_percussion_beamed_notes_tuplet_stem_direction musicxml_1](https://user-images.githubusercontent.com/22865285/146453594-03282bf0-5bd8-493d-bc36-e6392f8aa4ba

[2021-12-16 22:08] sschmidTU commented on #1258
It's optional stroke scaling (making the strokes bigger), and y spacing of the strokes, which needs to increase when the strokes get bigger. See here:
https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/issues/887#issuecomment-695809315

[2021-12-16 22:14] sschmidTU commented on #1252
flat_beams are optional, you have to set the setting: `osmd.EngravingRules.FlatBeams = true`
![image](https://user-images.githubusercontent.com/33069673/146456824-744d0d76-067e-4ace-af9a-cb69b0539bb0.png)

with false:
![image](https://user-images.githubusercontent.com/33069673/146456895-4da82dbc-1d19-41b5-8289-0bd79d204466.png)

[2021-12-16 22:22] sschmidTU commented on #1257
patched:
![image](https://user-images.githubusercontent.com/33069673/146457727-8c0762b2-2eb0-4b4d-a67d-fd85c987e68a.png)

vexflow 4:
![image](https://user-images.githubusercontent.com/33069673/146457749-c08051f6-3d29-4b18-8250-40dc9f414046.png)
[shared_stems.musicxml.zip](https://github.com/0xfe/vexflow/files/7730761/shared_stems.musicxml.zip)

[2021-12-16 22:31] sschmidTU commented on #1256
Patch:
![image](https://user-images.githubusercontent.com/33069673/146458533-813b256e-1402-490e-a24e-ee0c43fd4f1a.png)

Vexflow 4:
![image](https://user-images.githubusercontent.com/33069673/146458546-668b8dfe-d402-437f-95a7-d1a7654a4b3a.png)

Patch:
![image](https://user-images.githubusercontent.com/33069673/146458666-2b731661-0372-4204-8ebd-8a3993309283.png)

Vexflow 4:
![image](https://user-ima

[2021-12-16 22:35] sschmidTU commented on #1255
https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/issues/920

Patch:
![image](https://user-images.githubusercontent.com/33069673/146459044-0fb470f0-a3cd-4cbf-84c0-8f33444a9e57.png)

Vexflow 4:
![image](https://user-images.githubusercontent.com/33069673/146459089-fa1f2fea-4e01-410a-8305-0fa07dc13676.png)

[test_staverepetitions_coda_etc_positioning.zip](https://github.com/0xfe/vexflow/

[2021-12-16 22:36] sschmidTU commented on #1253
https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/issues/899

[2021-12-16 22:44] sschmidTU commented on #1254
This is mostly just required for the StemmableNote fix (#414) to share noteheads.
The other change is not shifting notes x-wise if they are in different voices.
So for example, an A/4 in voice 1 and an A/5 in voice 2 will be at the same x position.

Here's a diff:
[stavenote_diff.zip](https://github.com/0xfe/vexflow/files/7730838/stavenote_diff.zip)

In general, you can create diffs for all the OS

[2021-12-17 06:29] rvilarl commented on #1252
@sschmidTU flat beams are already supported(`flat_beams=true`), see associated tests below. Is there anything else required?

**Auto_Beaming Flat_Beams_Up**
![Auto_Beaming Flat_Beams_Up Gonville](https://user-images.githubusercontent.com/22865285/146498554-1d2d647a-f062-45ca-9432-acc13a6adbe7.png)

**Auto_Beaming Flat_Beams_Down**
![Auto_Beaming Flat_Beams_Down Gonville](https://user-images.github

[2021-12-17 07:46] rvilarl commented on #1258
@sschmidTU I have made the following change:
[code]
And created a new "tremolo big" test based on the "tremolo basic" using your proposed values 1.7 and 1.5. Do you get the same bug with stems up in OSMD?

**Tremolo Tremolo___Basic**
![Tremolo Tremolo___Basic Gonville](https://user-images.githubusercontent.com/22865285/146505757-a27b3db6-a1ec-44d1-a183-16ef41aa6830.png)

**Tremolo Tremolo___Big**

[2021-12-17 07:47] rvilarl commented on #1258
@0xfe would you agree to get this additional settings in VexFlow once the bug is resolved?

[2021-12-17 10:02] sschmidTU commented on #1252
You're right, flat_beams were already an option, we just fixed them with the offset, which is new.

Without a 10 pixel offset to the notes, flat beams overlap notes (Vexflow 1.2.93):
![image](https://user-images.githubusercontent.com/33069673/146526781-47da11e0-25ae-4764-aade-43c05e53e3ae.png)

This is Vexflow 4 by the way, oops. Looks like there's another issue there.
![image](https://user-images

[2021-12-17 10:10] sschmidTU commented on #1258
@rvilarl I'm not getting that y positioning bug with Vexflow 1.2.93, not sure what's happening there. See my comment above.

[2021-12-17 14:51] 0xfe commented on #1257
I like this change, seems like it might be straightforward for the common cases -- we should pull this in.

[2021-12-17 19:06] AaronDavidNewman commented on #551
@Bigsby @0xfe  can this be closed now that we have [chord symbol](https://github.com/0xfe/vexflow/wiki/Chord-Symbols-and-Chord-Changes) feature?

[2021-12-17 19:18] AaronDavidNewman commented on #411
I should have a chance to look at this in the next week or so

[2021-12-17 19:35] Bigsby commented on #551
Sure. Chord symbols look amazing.

[2021-12-17 19:35] #551 closed

[2021-12-18 06:42] rvilarl commented on #1252
@sschmidTU  `flat_beam_offset` is not new. `flat_beam_offset_per_beam` is new. How can I reproduce the issue above with **Siebener Endstreich**?

[2021-12-18 07:00] rvilarl commented on #1253
@sschmidTU
- could you try the problematic Score. TypeScript checks that NaN is not possible. This applies to `modifier.getPadding` and `modifier.getWidth`
- stave.SetSection. Why do you want to provide `xOffset` & `FontSize`?

[2021-12-19 12:22] #941 closed

[2021-12-20 22:38] AaronDavidNewman opened #1265 "Problems with Annotation placement"
I found this issue while investigating vertical formatting, https://github.com/0xfe/vexflow/issues/411.  There are several problems in this issue so I am trying to address them one at a  time.  This is about the annotations, which do some crazy stuff.  TL;DR: annotation Y placement is incorrect and will take some mildly breaking changes to fix.

Here is an example of some placements as the current

[2021-12-21 09:17] rvilarl opened #1266 "Issues in tests/flow.html (1, 2, 4)"
**1. Text overlapping notes**
![image](https://user-images.githubusercontent.com/22865285/146903320-d0e51518-63f3-4e81-9eb8-f38734848675.png)

**2. Articulation overlapping beam**
![image](https://user-images.githubusercontent.com/22865285/146903479-aa6a7a40-0f3b-40dd-8a54-7e26352f690b.png)

**4. Note heads and beams overlapping**
![image](https://user-images.githubusercontent.com/22865285/1469037

[2021-12-21 13:28] sschmidTU commented on #1265
To me it looks like `VerticalJustify` should just be removed as a paremeter, as it doesn't make much sense as you say, as it's positioning and not justification. And we have `ModifierPosition` as an established parameter for exactly this goal. But that's just my quick impression.

[2021-12-21 14:50] AaronDavidNewman commented on #1265
@sschmidTU there is also a horizontalJustification in annotation (also used for position), that is the downside.  So then we'd have position and justification (used for position!).  So it's confusing either way, I will defer to the will of the community.

I am leaning towards using the justifications, and warn if someone calls setPosition since it has no effect.   If someone calls setPosition with

[2021-12-21 15:14] sschmidTU commented on #1252
@rvilarl yes. set `flat_beam_offset_per_beam` to 10 (fixed) or 0 (collisions).

[2021-12-21 15:40] sschmidTU commented on #1253
the NaN bug seems to be fixed in Vexflow 4, I checked with the score that caused it.
For `xOffset`, it's to avoid collisions, e.g. with metronome numbers. There are already a million optional offsets in Vexflow.
For `FontSize`, the vexflow default was 13, which was way too big for StaveSections in our view. This is again an optional value, which allows customizing their size.
https://github.com/op

[2021-12-21 17:20] AaronDavidNewman opened #1267 "Articulation issue with Y space formatting"
Looking into vertical spacing for 411, which let me to issue 1265 re. annotations, which led me to this :)

The formatting method for modifiers has an output variable called state that lets the formatter (and other modifiers) know how much space to allow.  The articulations return the amount of lines they take up, above/below/left/right of the note.  But some articulations are required to be on to

[2021-12-21 20:01] mscuthbert commented on #1265
This is a very hard problem (Finale made solving it their main release feature about 5 years ago, and Dorico made the fact that they had solved it one of their main selling points).  I would definitely not try to get this into v4 before a release there.

[2021-12-22 14:23] AaronDavidNewman commented on #1265
@mscuthbert which problem are you referring to?  My mission for this issue is just to keep the vertically stacked modifiers from running into each other.  This seems pretty do-able, since most modifiers handle this correctly already.

[2021-12-23 14:04] AaronDavidNewman commented on #1267
fixed in above pr

[2021-12-23 14:04] #1267 closed

[2021-12-24 13:00] #1222 closed

[2021-12-24 13:08] 0xfe opened #1271 "Update developer documentation with new build instructions"
There have been lots of major changes to how VexFlow is built and developed (thanks @ronyeh!), and I'd like to make sure that our core developer documentation is up to date before we make more changes.

- [x] Update [Build and Release Instructions](https://github.com/0xfe/vexflow/wiki/Build%2C-Test%2C-Release).
- [x] Update [README.md](https://github.com/0xfe/vexflow/blob/master/README.md).
- [x]

[2021-12-24 23:50] ronyeh commented on #1271
OK sounds good. I'll keep this thread updated as the tasks are completed.

[2021-12-26 12:32] #463 closed

[2021-12-26 21:22] h-sug1no opened #1274 "9b12482424dd0fc36846b9182519d3289a5e75bc: "qunit:files" (qunit) task failed."
[code]
---

  git checkout  .
  git checkout a2570076497367ccba8ddc8a9ccdb299a882c754
  git clean -dfx && npm install && npm run lint && npm run qunit

OK: as follows:
[code]

---

  git checkout  .
  git checkout  9b12482424dd0fc36846b9182519d3289a5e75bc
  git clean -dfx && npm install && npm run lint && npm run qunit

NG: as follows:
[code]

---

load file:///mnt/sdb/users/sug1no/work3/github/h-

[2021-12-26 21:58] rvilarl commented on #1274
I am looking into that as well. Yes it is a circular dependency problem.
@ronyeh could you help us? You already had that.

[2021-12-26 22:21] ronyeh commented on #1274
If you turn on the circular dependency flag in the gruntfile, it prints out a list of possible circular dependencies to investigate.

[2021-12-27 05:16] ronyeh commented on #1274
I have a little bit of time at the moment. :-)

[2021-12-27 09:18] ronyeh commented on #1274
Still debugging.... But here is some debug output re: circular dependencies:

[code]

This one appears 4 times:
`src/note.ts -> src/accidental.ts -> src/gracenote.ts -> src/stavenote.ts`

Since the error happens in StemmableNote, it seems like this circular chain might be one we should try to break up:

[code]

[2021-12-27 09:24] ronyeh commented on #1274
Another thing we should try to do in general, is avoid importing the index.ts files. For example:

In annotation_tests.js:
**AVOID:**
`import { ModifierPosition } from '../src';`

**DO THIS INSTEAD:**
`import { ModifierPosition } from '../src/modifier';`

In bend_tests.js:
**AVOID:**
`import { Font } from '../src';`
**DO THIS INSTEAD:**
`import { Font } from '../src/font';`

Importing the class fi

[2021-12-27 12:36] ronyeh commented on #1274
Hi @rvilarl

I submitted a PR with an alternate solution: https://github.com/0xfe/vexflow/pull/1276

Let me know what you think! The basic idea is to completely avoid using isTabNote() and isStaveNote() in dot.ts, by moving the custom functionality out of the Dot class and into TabNote and StaveNote. This means that Dot no longer depends on TabNote and StaveNote.

[2021-12-27 15:44] AaronDavidNewman commented on #1265
Modifiers treat top_text_line or text_line inconsistently. Usually it is treated with regard to the note, but `Bend.format` (for instance) assumes the text line is relative to the staff. This causes issues when modifiers are mixed.

I think all the modifiers that are vertically placed should treat the vertical `state.text_line` wrt to the closest note head (or string in the case of `TabNote`.

[2021-12-28 10:07] ronyeh commented on #1274
@0xfe @rvilarl

I support Rodrigo's fix https://github.com/0xfe/vexflow/pull/1275 because it's the simplest patch at the moment, and it fixes the build. (I assume there are no visual diffs between #1275 and the previous non-broken build?).

As for the larger topic of circular dependencies, I think we could revisit the type guard methods of the type `isXXX()`, e.g., `isStaveNote()`, `isTabNote()`,

[2021-12-28 12:12] #1274 closed

[2021-12-28 12:21] 0xfe commented on #1274
Thanks for this folks -- I'm merging #1275 because it's simpler.

Ron, not a huge fan of putting typeguards in the Element class. I'd rather use a simple `getCategory` check instead for sure. Still, the general issue with circular dependencies is something we need to figure out a coherent strategy for. (I'm still unclear why it broke this time.)

[2022-01-01 18:53] rvilarl commented on #1252
@sschmidTU where do I set that I am not familiar with the OSMD test system. I have located the file but I do not know where to set `flat_beam_offset_per_beam`

[2022-01-01 19:02] rvilarl opened #1281 "4.0.1"
@0xfe @ronyeh @AaronDavidNewman @mscuthbert @sschmidTU @h-sug1no HappyNew Year! :)

I would like to start a discussion on when to release a 4.0.1. I would suggest to close #1155 this issue is already quite long. There are mainly two topics that I can think of:
- beta or release
- content

[2022-01-01 19:03] rvilarl commented on #1281
Let us make 4.0.1 a release, we will get more feedback from users and they can always decide to stay in 3.0.9 or 1.2.93

Thumbs up release
Thumbs down beta

[2022-01-01 19:08] rvilarl commented on #1281
Content:
- Vexflow Patch topics because I am aiming to get an OSMD release with Vexflow 4.x and use this one in PianoPlay.
- Vertical collisions #411 @AaronDavidNewman is working on.

[2022-01-01 20:10] ronyeh commented on #1281
Happy New Year!

Sure, I'll close the old 4.0.0 issue to move the discussion here.

Here are several small things I'd like to get into 4.0.1:
- documentation for build and release
- documentation for adding fonts
- tweak the files included in package.json so that flow.html can run directly from unpkg.com. I think this will enhance our ability to do quick manual visual regression checks.
- fix some

[2022-01-01 20:14] ronyeh commented on #1155
Moving the 4.0.x release discussion to:
https://github.com/0xfe/vexflow/issues/1281

[2022-01-01 20:14] #1155 closed

[2022-01-01 20:15] ronyeh commented on #1281
Previous discussion at https://github.com/0xfe/vexflow/issues/1155

[2022-01-02 13:22] #654 closed

[2022-01-03 17:00] rvilarl commented on #1255
@sschmidTU I have made a prerelease including all the pending PRs for Vexflow Patches and this one is resolved. Could you look into other issues if any?

![test_staverepetitions_coda_etc_positioning musicxml_1](https://user-images.githubusercontent.com/22865285/147958182-a5f696ad-dab7-4276-8aa8-3cc62a11cc27.png)

[2022-01-03 18:55] rvilarl commented on #1252
@sschmidTU this patch makes the tests fail. I have looked into the handling of Beams in `VexFlowMeasure` and it is messy. I believe that the problem is there, the need for the `finalizeBeams` is also quite cuestionable, it is even stated in the comment:
[code]
See how the patch breaks the tests in Vexflow (some examples):
![Auto_Beaming Flat_Beams_Down Bravura_Current](https://user-images.githubus

[2022-01-03 22:57] airdev-web opened #1282 "How to change the notation with EasyScore ?"
Hi there, greetings from Belgium!

Nice library I found, really you did a nice work 👍

I'm just trying to see if it's possible to use the "custom" drum notation when using EasyScore.
Do you have an exemple ?

![image](https://user-images.githubusercontent.com/85546423/147989284-3610a744-4fc3-4c07-a806-9d919b134233.png)

[2022-01-03 23:27] rvilarl commented on #1282
Hi, have a look at easyscore_tests.ts in master. In particular:
- `drawBasicMutedTest`
- `drawBasicHarmonicTest`
- `drawBasicSlashTest`

What version of the library are you using? Some of the support was added recently.

[2022-01-03 23:29] airdev-web commented on #1282
I'm using the version 3.0.9 and these tests are not included into them

[2022-01-03 23:32] airdev-web commented on #1282
After updating to the beta 4.0.0, it seems that this file is empty ?

[code]

[2022-01-03 23:39] rvilarl commented on #1282
Look here:

https://github.com/0xfe/vexflow/blob/ea20b0604b05912301c38417be14c55923a7192b/tests/easyscore_tests.ts#L222

[2022-01-03 23:40] airdev-web commented on #1282
Oh ok my bad !

So only supported with the beta 4.0.0 ?

Bien à vous,

Romain VAUSE, Airdev
+32 470 61 86 07
www.airdev.be
________________________________
De : Rodrigo Vilar ***@***.***>
Envoyé : Tuesday, January 4, 2022 12:39:52 AM
À : 0xfe/vexflow ***@***.***>
Cc : Romain Vause ***@***.***>; Author ***@***.***>
Objet : Re: [0xfe/vexflow] How to change the notation with EasyScore ? (Issue #1282)

[2022-01-03 23:43] rvilarl commented on #1282
And for some of them you will have to wait for the next beta. It is alrady in master but not included in 4.0.0. Hopefully we will be doing that soon.

[2022-01-03 23:43] airdev-web commented on #1282
Super, many thanks 🙏

[2022-01-03 23:43] #1282 closed

[2022-01-04 08:03] rvilarl commented on #1252
@sschmidTU I modified OSMD to use `generateBeams` and the result below. In any case seems to be a OSMD issue, I cloe it here.

![test_drum_tuplet_flat_beams_Siebener_Endstreich_testFlam musicxml_1](https://user-images.githubusercontent.com/22865285/148027731-4dc780f4-a0a3-4e76-add4-c5a3de768545.png)

[2022-01-04 08:03] #1252 closed

[2022-01-04 16:35] rvilarl opened #1283 "Issues in tests/flow.html (5,6,7)"
**5. Rests and Notes overlapping**
![image](https://user-images.githubusercontent.com/22865285/146903812-d12624d0-6bd9-4c9e-9b90-24fae7ec4d98.png)

**6. Rests overlapping**
![image](https://user-images.githubusercontent.com/22865285/146903940-f8f6ee09-f376-4565-a282-7bc0f19aa946.png)

**7. Lots of overlapping**
![image](https://user-images.githubusercontent.com/22865285/146904044-316a7336-e3eb-44d

[2022-01-05 07:41] ronyeh commented on #1271
I've been testing the workflow for releasing to NPM and GitHub in a somewhat automated way. I created a sample test project for this, and have written up some docs here:

https://github.com/ronyeh/simple-typescript-library/blob/main/docs/DevelopersGuide.md

The summary:
* Use the release-it npm package.
* After building and testing, run the following command:
[code]

This requires getting a GitHub

[2022-01-05 16:42] sschmidTU commented on #1252
@rvilarl The settings in the original patch are completely optional, so I don't see how it should break any tests.
It looks like you made a mistake while porting it to Vexflow 4.
Here's the diff:
[code]

It looks to me like this should be reopened.

I'm guessing your alternative doesn't offer the *optional* offset per beam arguments etc.

[2022-01-05 16:45] sschmidTU commented on #1252
These stems are way too long.

If you want to close this issue, you should be able to replicate this:

[2022-01-05 16:54] rvilarl commented on #1252
@sschmidTU I close this issue here because I believe that it is a OSMD issue and does not belong to VexFlow. The flat tests in VexFlow work fine.
If I happen to be wrong I will reopen the issue to propose a VexFlow fix.

[2022-01-05 16:59] sschmidTU commented on #1252
@rvilarl This is not fine. The stems are way too long.
Also, without the offset you'll probably get issues like this with 32nd and 64th notes:

[2022-01-05 17:09] sschmidTU commented on #1255
Where is this prerelease? How should i test it?

[2022-01-05 17:33] rvilarl commented on #1255
I packed it in my PR in OSMD under redist/ as a tgz file.

[2022-01-06 04:14] rvilarl opened #1285 "Issues in tests/flow.html (3)"
related to #941

**3. Stems too long in Tabnotes**
![image](https://user-images.githubusercontent.com/22865285/146903613-93f48fae-87c1-4121-9c74-37b440fe6e97.png)

[2022-01-06 04:42] rvilarl commented on #1266
@AaronDavidNewman are 1 or 2 related to the fix you are working on?
@0xfe how should 3 be fixed? Is there any function to detect that a beam overlaps with a note head?

[2022-01-08 11:21] #1285 closed

[2022-01-08 11:30] #1253 closed

[2022-01-08 11:30] #1256 closed

[2022-01-08 12:09] 0xfe commented on #1281
There's going to be at least one major API change that we should document. @ronyeh where do you track the changelog for release?

@rvilarl we should be super clear about the API changes around `addDot`, `addDotToAll`, `addAnnotation`, etc. and have instructions with some before/after examples. This one is mildly disruptive to users, but vastly improves Vexflow's dependency problem.

[2022-01-08 12:11] 0xfe commented on #1281
Ron, it's cool to bump the patch levels and mark the package as beta.

[2022-01-09 03:10] ronyeh commented on #1281
Hi all,

Detailed changelog is on the wiki:
- https://github.com/0xfe/vexflow/wiki/Changelog-ver-4.0
- https://github.com/0xfe/vexflow/wiki/Changelog

Each notable version will have its own page with a detailed discussion of changes. Smaller version bumps can have their changes added at the top of the page.

Rodrigo, feel free to edit the 4.0 page with the things you recently changed that are not

[2022-01-09 17:04] AaronDavidNewman opened #1289 "Build failures when building with sourcemap"
Did a fresh clone and npm install.  Ran `set VEX_DEVTOOL='true';grunt webpack:buildDebugPlusTests`

As an aside, I don't understand why you would want a debug  build and no source map - is it possible to do source-level debugging without it?

The change notes seemed to suggest that you would get a full source map when doing a production build.  I tried 'webpack:productionAllFonts' but there was no

[2022-01-09 19:37] AaronDavidNewman commented on #1289
I think this is just a merge issue.  I was able to fix it this way:

[code]

This will restore it doing what it used to do.  However, if you want it to do what the comment says:

Then it should be:
[code]
I guess the comment is the correct behavior?  In which case I will submit that.

[2022-01-10 11:26] #1258 closed

[2022-01-10 11:29] #1255 closed

[2022-01-10 12:34] 0xfe commented on #1289
@ronyeh is looking at grunt right now, and can suggest.

My preference is the first option (make it do what it used to do), which is the least disruptive to others. (This logic is changing anyway in Ron's gruntfile PR.)

[2022-01-10 15:16] AaronDavidNewman commented on #1289
Actually I said something above that wasn't correct.

This is how it worked in 3.0.9.:
[code]

This is how it worked in 4.0, prior to the this week:
[code]

I'm good with either thing, I defer to the will of the group. Right now, though, neither thing works and you can't get a source map at all.

[2022-01-10 18:46] mscuthbert commented on #1289
My logic is that if someone is using (but not developing) Vexflow, and a problem arises, a SourceMap will allow them to figure out what went wrong -- what the proper types should be, whether any dev notes talk about the error, etc.  Without the source map, they will be left in the dark or have to compile their own.  It won't raise the size of their bundle, just their own sourcemap bundle.

[2022-01-12 16:09] #1218 closed

[2022-01-12 16:10] #1143 closed

[2022-01-12 18:51] ronyeh opened #1294 "addModifier parameter order?"
Hi @rvilarl @0xfe

I'm just curious why the order of parameters in `Note.addModifier()` swapped places recently. I see mention of it in the recent circular dependencies PR, but I don't see how changing the order of the params fixes a circular dependency. Can you help me understand? Thanks!

The swap happened here:
https://github.com/0xfe/vexflow/pull/1279/commits/37a9fdea9a191bb15b444e2b517bae3cfb

[2022-01-12 21:11] rvilarl commented on #1294
Hi Ron,

this is the reason:
1) in order to remove the dependencies with Dot and Accidental the following functions were removed from note:
[code]
2) as a consequence the following functions were also removed to be consistent and this functions add only an addtional call in the stack
[code]
3) you can see that the order of the parameters of the functions in 2) differ from the order in `addModifier

[2022-01-12 22:49] ronyeh commented on #1294
OK thanks for explaining.

For the historical record, in version 3.0.9 there was an API design issue:

`StaveNote` extends `StemmableNote`
`StemmableNote` extends `Note`

StaveNote defines addModifier as:
`addModifier(index, modifier)`

https://unpkg.com/browse/vexflow@3.0.9/src/stavenote.js

Note defines addModifier with the parameters reversed:
`addModifier(modifier, index = 0) {`

https://unpkg

[2022-01-12 23:40] rvilarl commented on #1294
My vote would be to leave it as it is because there is higher use of `addAccidental`, `addAnnotation` and `addArticulation` than `addModifier`. I would also avoid to do the hundreds of changes again, at least manually :).
Now that we are changing this API I would also rename `addModifer` in `Stave` to `addStaveModifier`.

[2022-01-13 00:56] sschmidTU commented on #1294
This seems like an important argument. In a lot of cases you wouldn't need to add indices when adding modifiers, it would just be a hassle for the dev using the API, always incrementing the index, etc.

[2022-01-13 00:59] ronyeh commented on #1294
But you said these methods were removed?

If we go with the modifier instance first, index second, I'm happy to submit the PR for it.

... though I think I see what you mean now. If we consider the impact this breaking change will have on existing developers who are trying to upgrade to VexFlow 4.0 from 1.2.93, then they will have to do more work to fix their code (if they made heavy use of addAcc

[2022-01-13 03:58] ronyeh commented on #1294
I turned on the circular reference tool, and it looks like those three methods didn't contribute to the circular references. They took a `Modifier` object as a parameter, so it didn't add any links to chain of references.

[code]

We could argue that those methods were **not very useful**.... :-) However, they do not cause circular references, even if we replaced `Modifier` with the imported types

[2022-01-13 06:07] rvilarl commented on #1294
This is what I meant, @sschmidTU In OSM I thought that the prefered approach was the one in addAccidental due to the comments stating "Vexflow made a mess with the addModifier signature that changes through each class so we just cast to any :(" This casting also introduced bugs because the parameters were in some instances in the order expected by addAccidental.

The problem with this `addModifier

[2022-01-13 07:12] ronyeh commented on #1294
Either parameter order is fine with me, but I would prefer if the ordering is more consistent.

We can rename Stave's method to addStaveModifier(), but the parameter order there is still 1) object instance, then 2) index/position which is optional.

In Note, it's the reverse. Whichever one we choose in the end, I'd prefer if both method signatures took the same approach.

[2022-01-14 13:15] AaronDavidNewman commented on #1289
It worked for me.  Thanks...

[2022-01-14 20:07] nitzanrh opened #1295 "Grace note position is affected by other modifiers / annotations"
HI all,

I'm working on using Vexflow for creating some snare drum etudes.
For some reason, the grace note's position changes if the "main" note has a modifier or annotation.
This creates a lot of layout mess with snare drum etudes, where accents, grace notes (aka flams) and annotations (aka stickings) are used frequently.

Is this by design? is there a way to avoid this? (ie have all the grace no

[2022-01-14 21:20] rvilarl commented on #1289
It also worked for me

[2022-01-15 01:14] rvilarl commented on #1295
Hi Nitzan, Which version of vexflow are you using?

[2022-01-15 01:32] AaronDavidNewman commented on #1295
It is the newest.  Even using the font formatting doesn't help this.

The issue is that vertical modifiers like annotation and articulation report their width independently.  So the widths sum, even though they are on top of each other.

Ideally, if the annotation is centered, it would only report the width if it exceeded the current modifier context width.

[2022-01-15 09:16] nitzanrh commented on #1295
Hi Aaron,
Thanks for your reply.
Even disregarding the annotation, the accent itself displaces the grace note position by quite a bit. If the modifier is centered (above or below the note)  I don't see why it should affect the grace note position

[2022-01-15 12:03] #1265 closed

[2022-01-15 12:23] 0xfe commented on #1294
This is partly my fault for starting this mess, and I agree that it's super important to keep the the ordering consistent.

I think `addModifier(modifier, ...)` is the ideal approach, from an API design perspective. Typically when there's a `doSomethingWithNOUN` method, the first parameter should always be a required `NOUN`. It allows for optional parameters after.

[2022-01-15 16:54] AaronDavidNewman commented on #1295
This is a good observation.  This has been annoying me for a while, but I don't think I ever made the connection.

Articulations and centered annotations should always subtract the note head width from their width, and only report the overlap (when there is a note head). Ornaments and other modifiers are a little harder because their formatting isn't always strictly vertical or horizontal.

I will

[2022-01-15 18:37] nitzanrh commented on #1295
Hi Aaron,

Sweet, thanks for looking into this.

While on the subject, here is another weird behavior with annotations:
https://jsfiddle.net/r3p45b97/3/

It seems to me that:
A. getMinTotalWidth is somewhat off (although I understand that is something the team is aware of)
B. Increasing the stave's width by the width of the annotation doesn't always makes sense, especially if the annotation alread

[2022-01-15 19:32] AaronDavidNewman commented on #1295
For A, you probably want something like:

[code]

`getMinTotalWidth ` just gives you the width of all the stuff in the voice, e.g. the note + flag.

Also, you are definitely using an old version of vexflow because `Stave.defaultPadding` is not defined.  Mine is up-to-date as of about 3 months ago, you could try that (you can also just add 15 pixels or so, which is what the value defaults to).

htt

[2022-01-15 19:37] ronyeh commented on #1294
OK, I can tackle this one after my gruntfile PR is done.

I will have to research some magic regex :-).

[2022-01-15 20:15] nitzanrh commented on #1295
I will give the VF.Stave.defaultPadding a shot, thanks :)

As for the version, I think it is the same as the one you sent.
Here is the same fiddle but with your attached vexflow-debug.js file:
https://jsfiddle.net/r3p45b97/5/

[2022-01-21 01:46] AaronDavidNewman opened #1301 "Fix bend/vibrato vertical placement"
Bend and annotation now update the modifier context with its height.  One side-effect of this is that the vibrato now appears above the bend, and the 'tap' appears above the bend instead of at the same level.

In the case of vibrato, it already checks for a bend and moves itself down if it detects one.  It just needs to add another line, since the bend is increasing the line height.

For annotatio

[2022-01-23 12:21] #1301 closed

[2022-01-23 21:03] #1289 closed

[2022-01-24 04:42] ronyeh commented on #1281
Hello all,

To test the release script, I just published `4.0.1-alpha.0` to npm and github.

https://github.com/0xfe/vexflow/releases/tag/4.0.1-alpha.0

https://www.npmjs.com/package/vexflow?activeTab=versions

To install in your project, type:
[code]

Please let us know if there are any issues! I think we are getting close to a full release. There are currently 5 open PRs. Once those are resolved

[2022-01-24 22:31] rvilarl commented on #1281
It is 6 PRs I have one in draft because it builds on the one with the `dots` discussions.

[2022-01-29 10:38] #1283 closed

[2022-01-30 07:54] rvilarl opened #1307 "EasyScore.Draw_Accidentals Test - Visual Error"
Accidentals overlapping

![EasyScore Draw_Accidentals Bravura](https://user-images.githubusercontent.com/22865285/151691433-e3b938aa-bc09-43ed-8012-dd44d55bb602.png)

[2022-01-30 07:59] rvilarl opened #1308 "Annotation Test_Justification_Annotation_Stem_Up&Down Test - Visual Error"
Text overlapping notes

![Annotation Test_Justification_Annotation_Stem_Up Bravura](https://user-images.githubusercontent.com/22865285/151691581-13475fc0-c72e-491f-b81e-54d3e0cdb1e8.png)
![Annotation Test_Justification_Annotation_Stem_Down Bravura](https://user-images.githubusercontent.com/22865285/151691600-69065615-9dd2-494b-8b6c-d60fd34ced5b.png)

[2022-01-30 08:02] rvilarl opened #1309 "Articulation Articulation___Inline_Multiple Test - Visual Error"
Articulations overlapping notes

![Articulation Articulation___Inline_Multiple Bravura](https://user-images.githubusercontent.com/22865285/151691662-2ffb5212-227d-475b-9da7-f0f302521b7b.png)

[2022-01-30 08:10] rvilarl opened #1310 "Issues in tests/flow.html ([Three_Voice_Rests Three_Voices____2_Complex)"
Beam and notehead overlapping.

![Three_Voice_Rests Three_Voices____2_Complex Bravura](https://user-images.githubusercontent.com/22865285/151691909-242b7be1-fa68-4d93-8178-d49dc933fad6.png)

[2022-01-30 08:11] rvilarl commented on #1266
Splitted into single issues.

[2022-01-30 08:12] rvilarl commented on #1266
Splitted into single issues. #

[2022-01-30 08:12] #1266 closed

[2022-01-30 08:17] rvilarl opened #1311 "Style Basic_Style Petaluma Test - Visual Error"
Clef and note overlapping (Petaluma only)
![Style Basic_Style Petaluma](https://user-images.githubusercontent.com/22865285/151692086-196f19dc-0585-4034-882d-f2bd9eafe79e.png)

[2022-01-30 08:21] rvilarl opened #1312 "StaveNote StaveNote_BoundingBoxes___Treble Test - Visual Error"
Wrong bounding box with Bravura and Petaluma
![StaveNote StaveNote_BoundingBoxes___Treble Bravura](https://user-images.githubusercontent.com/22865285/151692197-e3943e3c-3310-471e-8cf1-910fccc472bd.png)
![StaveNote StaveNote_BoundingBoxes___Treble Petaluma](https://user-images.githubusercontent.com/22865285/151692202-447ccabf-6483-4a2a-9974-44010bd36550.png)

[2022-01-30 08:24] rvilarl opened #1313 "Stave Multiple_Staves_Volta_Test Test - Visual Error"
Segno and section overlapping
![Stave Multiple_Staves_Volta_Test Bravura](https://user-images.githubusercontent.com/22865285/151692307-98971be6-f3d5-4f9e-8569-7b5452dcde3d.png)

[2022-01-30 08:28] rvilarl opened #1314 "Ornament With_Upper_Lower_Accidentals Test - Visual Error"
Segno and accidentals overlapping.
![Ornament With_Upper_Lower_Accidentals Bravura](https://user-images.githubusercontent.com/22865285/151692410-7c8cf098-e3e3-45b1-9896-7bfa3b6c6dea.png)

[2022-01-30 08:45] rvilarl opened #1315 "Annotation TabNote_Annotations Test - Visual Error"
Annotations overlapping.
![Annotation TabNote_Annotations Bravura](https://user-images.githubusercontent.com/22865285/151692914-41967080-0990-4ada-8c9b-4d3337bb2a86.png)

[2022-01-30 09:03] rvilarl opened #1316 "Accidental Multi_Voice Test - Visual Error"
Accidentals too far from notes on third group
![Accidental Multi_Voice Gonville](https://user-images.githubusercontent.com/22865285/151693423-9c421636-f888-49bc-9328-f988a163618b.png)

[2022-01-30 11:05] 0xfe commented on #1316
This looks like a recent regression.

[2022-01-30 11:07] 0xfe commented on #1313
This is also a regression.

[2022-01-30 11:08] 0xfe commented on #1312
This one is weird -- it seems like flags aren't included in the calculations.

[2022-01-30 11:09] 0xfe commented on #1311
This also has the clef too far out, which might be a separate issue.

[2022-01-30 11:12] 0xfe commented on #1310
This _may_ be a regression. (It's also a very contrived example -- I don't think this is how this musical snippet would be written out anyway.)

[2022-01-30 11:12] 0xfe commented on #1309
This is a regression.

[2022-01-30 12:06] rvilarl commented on #1294
@ronyeh this can be closed now

[2022-01-30 12:06] rvilarl commented on #1176
@ronyeh this can be closed now

[2022-01-30 12:15] rvilarl opened #1317 "Gould "Behind Bars""
Would it make sense to check the compliance generating tests with the examples in the book? For example for the unisons in #1263

I think that this compliance would be a + in this library.

We could ask the author of the book if this is ok.

[2022-01-30 21:34] ronyeh commented on #1281
I just published https://github.com/0xfe/vexflow/releases/tag/4.0.1-alpha.1

I checked that it builds correctly and flow.html tests "pass" (i.e., no runtime errors).

I see in the GitHub issues that there may be some visual regressions. Let's diagnose & fix so we can move up to beta and then to full release.

[2022-01-30 22:13] rvilarl commented on #1311
Problem already present in 3.0.9. The clef is not that far out, it should be a bit to the right between note 1 and note 2, like with Bravura:
![Style Basic_Style Bravura](https://user-images.githubusercontent.com/22865285/151720063-d750cd1e-6d98-4515-a83f-d108d42118e4.png)

[2022-01-30 22:15] rvilarl commented on #1316
The problem was already there in 3.0.9

[2022-01-30 22:22] rvilarl commented on #1315
Already in 3.0.9
![image](https://user-images.githubusercontent.com/22865285/151720311-41d56c4c-ddf2-4fc8-9481-42aaa3fa459a.png)

[2022-01-30 22:26] rvilarl commented on #1314
This one was fine in 3.0.9, interesting the duplication of segnos
![image](https://user-images.githubusercontent.com/22865285/151720428-509086e8-0ce1-4768-8ad5-b2783e817b1e.png)

[2022-01-31 05:08] mscuthbert commented on #1310
Oh -- I was just playing today a number of piano pieces that had passages like this, so it's not that uncommon.  But I don't think that the professional desktop operating systems solved this (or if so not till recently) so I don't think it's worth holding up getting it in.  A test that currently fails in a complex case is fine to keep, and then we can keep it for something to fix later.

[2022-01-31 06:23] rvilarl commented on #1313
This was fine in 3.0.9
![image](https://user-images.githubusercontent.com/22865285/151748024-557e2655-c034-462a-aeba-f18c8bde63bd.png)

[2022-01-31 06:26] rvilarl commented on #1312
That was already present in 3.0.9

![image](https://user-images.githubusercontent.com/22865285/151748333-a04a2215-cc5e-46b0-b6db-7dd15f274a8d.png)

[2022-01-31 06:29] rvilarl commented on #1310
Already present in 3.0.9

![image](https://user-images.githubusercontent.com/22865285/151748588-5d82b66e-e938-47fb-8bd3-76c2bd2e6c37.png)

[2022-01-31 06:33] #1294 closed

[2022-01-31 06:33] #1176 closed

[2022-01-31 06:54] rvilarl commented on #1309
This one was almost fine (one dot is overlapping) in 3.0.9

![image](https://user-images.githubusercontent.com/22865285/151750843-e6e426fa-3e43-4e48-87aa-351b1dfdc8f5.png)

@AaronDavidNewman could you look into this one?

[2022-01-31 06:58] rvilarl commented on #1308
Already present in 3.0.9

![image](https://user-images.githubusercontent.com/22865285/151751240-ae1d5f45-48e4-467d-bbff-71c4b3824542.png)

[2022-01-31 07:01] rvilarl commented on #1307
This one was fine in 3.0.9

![image](https://user-images.githubusercontent.com/22865285/151751508-a9aeac74-d1dc-4c9b-95b2-ba5ef280d25e.png)

[2022-01-31 09:43] sschmidTU commented on #1309
Is this maybe a regression of #1267 or other recent y formatting changes?

[2022-01-31 14:35] AaronDavidNewman commented on #1309
This is possibly vertical placement of articulations, which was touched recently.  Strange that the visual regression tests didn't pick this up.  I've noticed that changes that mostly affect horizontal lines tend not to...

[2022-01-31 19:21] rvilarl commented on #1314
@AaronDavidNewman that might be related with vertical positioning also.

[2022-01-31 19:28] AaronDavidNewman commented on #1314
Huh...maybe?  But I didn't change anything with ornament.   And the double helix thing, looks like an issue with the test case, maybe a merge issue.  Or maybe something with the glyph itself.  I'll check when I'm done working.

Also, this should have shown up on the visual regressions.  I think it either happened very recently, or longer ago.

[2022-01-31 19:51] rvilarl commented on #1314
Probably long ago. Do you want me to check when?

[2022-01-31 19:56] AaronDavidNewman commented on #1314
Just look at the test case.

[code]

It looks like that line was duplicated during a merge.

[2022-02-01 05:48] AaronDavidNewman commented on #1309
Probably the issue is that the logic doesn't consider the number of lines in the beam.  If the lines in beam are _n_ , it should add n-1 or n lines (depending on line or space) either up or down, if the existing line is 0 (meaning, it is the first modifier vertically either up or down).  It looks like it should do this regardless of the stem direction.  This is in `articulation.format`.  I'll prob

[2022-02-01 13:17] SmallHollow opened #1318 "patch-package not found while trying to install 4.0.1-alpha.1"
`npm install vexflow@alpha` (on npm 8.1.2) results in `patch-package: command not found`. Previous version (`alpha.0`) installs fine.

[2022-02-01 14:24] AaronDavidNewman commented on #1307
It is more compressed because it uses preCalculateMinTotalWidth in EasyScore, if the staff width is not specified.  So the test case is changed, but I don't know if that is related to the bug.  This happens on the first note, and if the formatter were low on space, it would overflow on the right edge.

If the staff width is set to the old level in 4.0, do we still see the collision?

[2022-02-01 21:35] ronyeh commented on #1318
Thanks for your bug report. I'll look into it asap!

[2022-02-01 21:42] ronyeh commented on #1318
Whoops, this was my fault. I added a `"postinstall": "patch-package"` script to the package.json which fixes one of our dependencies, but this script is only useful for VexFlow maintainers. Unfortunately it broke the npm install process.

I'll fix this in the next release. For now, this still works `npm install vexflow@4.0.1-alpha.0`

Or if you really want to use the bleeding edge, you can clone f

[2022-02-02 06:35] rvilarl commented on #1318
Thanks Ron! The workaround works.

[2022-02-02 06:47] ronyeh commented on #1318
I added a PR which should fix this one. The PR improves the release process, but also removes the "postinstall" script which was breaking your npm install. Instead, I moved `npx patch-package` into the release script, since the patch doesn't affect anyone other than a maintainer who's trying to release to GitHub.

[2022-02-02 09:23] #1318 closed

[2022-02-02 09:48] ronyeh commented on #1318
Hopefully it works now. I tested on my example project with `npm install vexflow@alpha` and now my package.json shows:
[code]

[2022-02-02 10:01] SmallHollow commented on #1318
Working fine now!

[2022-02-02 10:21] ronyeh commented on #1318
Thanks for reporting the issue!

We are currently working on comparing VexFlow 4 to 3.0.9 to check for any possible visual layout regressions. If you find any issues with your projects, please file more bugs.

We're trying to move toward a beta / rc release, before shipping VexFlow 4 officially.

[2022-02-02 10:29] ronyeh commented on #1316
WIth the most recent release (4.0.1-alpha.2), we can now look at the flow.html page on unpkg.com.

Version 4.0.1-alpha.2
https://unpkg.com/vexflow@4.0.1-alpha.2/tests/flow.html#module=accidental&filter=multi

Version 3.0.9
https://unpkg.com/vexflow@4.0.1-alpha.2/tests/flow.html#module=accidental&filter=multi&ver=unpkg@3.0.9

Notice in the above link that we are using the flow.html from VexFlow 4,

[2022-02-02 10:37] ronyeh commented on #1307
[VexFlow 4](https://unpkg.com/vexflow@4.0.1-alpha.2/tests/flow.html#module=easyscore&filter=accidentals)

[VexFlow 3.0.9](https://unpkg.com/vexflow@4.0.1-alpha.2/tests/flow.html#module=easyscore&filter=accidentals&ver=unpkg@3.0.9)

Open the two links in separate tabs and flip between them to see the difference.

[2022-02-02 10:41] ronyeh commented on #1313
[VexFlow 4](https://unpkg.com/vexflow@4.0.1-alpha.2/tests/flow.html#module=stave&filter=multiple%20staves%20volta)

[VexFlow 3.0.9](https://unpkg.com/vexflow@4.0.1-alpha.2/tests/flow.html#module=stave&filter=multiple%20staves%20volta&ver=unpkg@3.0.9)

[2022-02-02 16:04] AaronDavidNewman commented on #1307
I need to see the new code with the old width.  I'll try to set it up later today.  Work is busy.

[2022-02-02 21:49] rvilarl commented on #1316
Wow Ron, this way of looking differences is very convenient!

[2022-02-02 23:11] AaronDavidNewman commented on #1307
I see it now thanks Ron.  So this isn't really a regression, at least not of the formatting.   In the past the width of `system` came from here:

[code]
where the default options.width was 500px.  So it was hard coded, and if you hard-coded the same width now, it would look the same as 3.0.9.

Current change uses `preCalculateMinWidth` which is apparently undercounting in this case.  Maybe it isn'

[2022-02-04 16:20] rvilarl commented on #1312
the problem was that the stem lengths were not calculated correctly. It is partly a regression, if we look in detail at the bounding boxes of 3.0.9 they were right and they are based on the stem length.

[2022-02-05 06:54] rvilarl commented on #568
@mscuthbert which one is the right one. Now that I have been modifying the formatting of Articulations I think it would be easy to get the finale result.

[2022-02-05 06:56] rvilarl commented on #411
@AaronDavidNewman is this one now closed?

[2022-02-05 17:38] AaronDavidNewman commented on #411
yes this can be closed, thought it was

[2022-02-05 17:47] rvilarl commented on #411
@Silverwolf90 @0xfe @ronyeh please close.

[2022-02-05 17:51] #411 closed

[2022-02-05 18:03] AaronDavidNewman commented on #568
Articulations are broken into groups: those that fit into a line space, and those that don't.  The definitions are here:  `Tables.articulationCodes(this.type);`.

So you could change the value in that table.  You could also make an 'options' to articulation that let you override the default.

Ideally though, you'd have the actual height of the glyph determine it.  We could add a metric for it that

[2022-02-05 18:09] rvilarl commented on #568
@AaronDavidNewman thanks for the explanation. BB makes a recommendation to have articulations outside the stave but then it provides examples with them inside. :p

[2022-02-05 18:24] rvilarl commented on #568
@AaronDavidNewman I was thinking in something like (but I will look into `Tables.articulationCodes`:
[code]

And you get:
![Articulation Articulation___Accent_Tenuto Bravura_current](https://user-images.githubusercontent.com/22865285/152654082-17e04b04-4413-4d3c-8e12-ad015835cf75.png)

[2022-02-06 06:58] rvilarl commented on #1317
After getting no feedback from the licensing department I close this proposal.

[2022-02-06 06:58] #1317 closed

[2022-02-06 07:03] rvilarl commented on #409
After working a bit with `ModifierContext` I believe that the ideas here would be agood approach.

@AaronDavidNewman @0xfe what do your think? I refer to:
- Vertical formatting with reference middle line of stave
- Usage of stave-space for horizontal position.
- Rename text_line to bottom_text_line

[2022-02-06 11:19] #1316 closed

[2022-02-06 11:21] #1314 closed

[2022-02-06 11:30] #1309 closed

[2022-02-06 11:31] #1313 closed

[2022-02-07 11:40] #1312 closed

[2022-02-17 01:14] ronyeh commented on #1281
Looks like there are no outstanding visual regressions from 3.0.9.

I just published a beta. Install with:

[code]

I ran all the tests successfully, and flow.html tests look good.

I think we're close to a full release. Please try out this new beta and let us know if there are any issues!

[2022-02-19 12:04] #1254 closed

[2022-02-19 12:04] #1257 closed

[2022-02-19 12:07] 0xfe commented on #1311
Okay, so this is formatting problem with `ClefNote` not a `Clef`.

[2022-02-21 10:54] #1295 closed

[2022-02-22 03:56] rvilarl opened #1329 "Gonville `stringsDownBow` wrong glyph - Visual Error"
@sschmidTU reported in opensheetmusicdisplay/opensheetmusicdisplay#1139

the current images in master do have this problem with Gonville:

**Articulation Articulation___Up_stroke_Down_Stroke Bravura**
![Articulation Articulation___Up_stroke_Down_Stroke Bravura](https://user-images.githubusercontent.com/22865285/155060255-3360506d-d9c6-42b0-903b-73b7593f9577.png)
**Articulation Articulation___Up_st

[2022-02-23 06:39] rvilarl opened #1331 "Multiple rests - how to render"
@sschmidTU reported in https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/pull/1139

@mscuthbert  @AaronDavidNewman should we only draw one rest in this situation above? If yes, should that also apply to the vexflow test below?

![Three_Voice_Rests Auto_Adjust_Rest_Positions___Three_Voices__1 Bravura](https://user-images.githubusercontent.com/22865285/155271729-20f1afef-2858-4027-ad51-

[2022-02-23 14:18] 0xfe commented on #1331
I think that example needs better vertical centering, but don't we need both rests there (for the general case)? Otherwise we're introducing ambiguity in the relationships across the voices.

[2022-02-23 23:33] #1329 closed

[2022-02-24 13:52] sschmidTU commented on #1331
My intuition was that you can combine the rests if it's obvious that they're shared by both/all voices.

I found this discussion on musescore:
https://musescore.org/en/node/34511

"Separately stemmed parts share rests wherever possible."
Other layout books I have all say the same thing. On page 12 of 'Preparing Traditional Music Manuscript' Second Edition by Michael Mohn:
"Do not double rests in s

[2022-02-24 15:00] AaronDavidNewman commented on #1331
I think there are different use cases, and it might be hard to tell what is 'obvious' from the perspective of vexflow.

If they are 2 voices of a single part, you would want to combine the rests if you can.  if they represent 2 different parts, often you would show them separately since the musicians will be expecting 2 lines, and will want to find 'their' line.

Maybe the rule should be that we c

[2022-02-24 17:07] sschmidTU commented on #1331
I've seen this argument and I understand it, though I still think even there a single rest is very readable, maybe even preferable. Double rests in any case are very ugly if looking at the score wholistically.

[2022-02-27 06:00] rvilarl commented on #1281
@ronyeh this one does work with OSMD Thank you!
I updated https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/pull/1148 and all tests passed.
@sschmidTU FYI

[2022-02-28 09:49] RyoSusami opened #1335 "Formatter is ignoring the length of the last note."
The formatter seems to ignore the length of the last note.

Ver.3.0.9
https://jsfiddle.net/tzp5m2qc/1/
![image](https://user-images.githubusercontent.com/36094352/155961034-098114a3-ad76-4391-86cd-786ae915ec97.png)

Ver.4.0.0 (It behaves the same in ver.4.0.1-beta.2)
https://jsfiddle.net/tzp5m2qc/2/
![image](https://user-images.githubusercontent.com/36094352/155961101-7241e835-9a72-4481-84c5-1349e

[2022-02-28 14:22] AaronDavidNewman commented on #1335
The current behavior of the formatter is to use the full measure width by default.  Because usually you don't want all the space at the end of the measure.  If you are sight-reading , there would be a big gap before the next measure that would be hard to track. And at the very least, it wastes a lot of space in an empty score.

You can format the notes and measure separately if you want that.  You

[2022-02-28 22:03] rvilarl commented on #1335
@AaronDavidNewman is there any direction in Behind Bars in this regards?

[2022-03-01 04:52] AaronDavidNewman commented on #1335
sure there's a whole section on rhythmic formatting.  The right bar should be where the next note would be, or a little closer.  The 3.0.9 example has the right bar about 5 times further away than it should be.

[2022-03-01 05:17] AaronDavidNewman commented on #1331
I've decided I have no knowledge of what is best here.  The blessed example def. looks better, but that's kind of a strange example.

[2022-03-01 05:49] rvilarl commented on #1331
Thanks @AaronDavidNewman I also don't.
@mscuthbert perhaps you can ask your friend. The professional engraver.

[2022-03-01 06:54] ronyeh commented on #1271
Added some info on Common JS vs ESM here: https://github.com/0xfe/vexflow/wiki/VexFlow-4

[2022-03-01 09:52] ronyeh commented on #1281
We're getting close! I think we will publish a release candidate soon and then if no complaints come in, we can promote it to a full 4.0.1 release.

I started working on a overview document for VexFlow 4: https://github.com/0xfe/vexflow/wiki/VexFlow-4

At the bottom is a complete list of all commits between 3.0.9 and 4.0.1! (Spoiler: it's over 1600 commits).

[2022-03-01 23:44] RyoSusami commented on #1335
@AaronDavidNewman Thank you for your advice. Consider inserting padding manually using .preCalculateMinTotalWidth () etc.

In my opinion, it seems strange that the current behavior is the default and requires manual control to apply the note length.

[2022-03-02 06:54] RyoSusami commented on #1335
Maybe it's already been considered, but for reference...

According to the description of P39-40 Rhythmic spacing in "Behind Bars",

[2022-03-02 16:33] AaronDavidNewman commented on #1335
The current logic is to allow min right padding of between 1 and 1/2 of the 'ideal' distance, based on the note width.  You could reduce this tolerance to something like 1 and 2/3.  In formatter.ts, line 740 or so:

[code]

Submit a PR if you find this more pleasing.  Most of our use cases are around handling tight spacing, not so many about too much horizontal spacing.

2.0 (original):
![image](h

[2022-03-02 17:14] #1311 closed

[2022-03-02 21:36] mscuthbert commented on #1335
The version 3 spacing isn't correct to my eyes, but the v4 is far less good.  In no case should have half note have between it and the first note of the following measure less space than between two adjacent quarter notes.  [ it's the space to the first tick in the following measure (assuming no start-modifiers like a clef/key/time change) that matters if there is a following measure on the same s

[2022-03-02 21:50] rvilarl commented on #1331
@mscuthbert please do not forget this one :)

[2022-03-02 22:20] AaronDavidNewman commented on #1335
If that's the case, then this calculation is probably wrong altogether.  We calculate the right padding based on the min space between the notes, not by the ideal spacing between the last note and the end of the bar.  The problem happens when the last note is the longest, because the last note is never 'between' anything.

[2022-03-02 22:33] mscuthbert commented on #1335
I should say, "in no normal/ideal case" for "in no case" above.  Obviously, if you have a narrow measure, and put in the same Qtr Qtr Half case above, but add a 27-grace-note element before the second quarter, then all bets are off.

[2022-03-02 23:31] mscuthbert commented on #1331
The blessed version of the last image is correct for the quarter rest and half rest.  However, the eighth rest only makes sense if it is placed below the staff (i.e., within the stem-down voice's "realm of operation").  Otherwise it looks to the player reading the upstemmed notes that she is to play a quarter note and then rest for an eighth note, quarter, and half note.

For the somewhat contrive

[2022-03-02 23:42] mscuthbert commented on #1310
(I'd skip the bug label and call it "enhancement" or future work or something; it's different from other "bugs" in that it's an unsolved problem in algorithmic music layout.)

[2022-03-03 00:41] RyoSusami commented on #1335
Thank you everyone for considering this matter.

If the division parameter of targetWidth becomes configurable, I haven't tried various patterns yet, but in my case, I adjust the division parameter from 1.0 to 1.2 and softmaxFactor from 10 to 30.

I think it is better to consider the existing users when deciding the default value of the division parameter.

[2022-03-03 07:16] ronyeh commented on #1271
I updated the README and added more wiki documentation (e.g., [VexFlow 4](https://github.com/0xfe/vexflow/wiki/VexFlow-4-Tutorial/). I'm sure there are bugs with the docs and I'll fix them as we discover them.

The docs reference CDN URLs that won't really work until VexFlow 4 is shipped.... :-)

What do you think? You can try shipping a RC, and then if the release script works as expected, we can

[2022-03-03 07:22] ronyeh commented on #1271
To ship a **release candidate** from a fresh install:

[code]

To ship a full release, with an automated GitHub release, you'll need a GitHub personal access token. The command will look like:

[code]

See: https://github.com/0xfe/vexflow/wiki/Build,-Test,-Release#release-to-github-automatically

[2022-03-03 17:03] ronyeh commented on #1335
Hi all, is this something that needs to be addressed before we release 4.0 (i.e., is the workaround to increase the width of the measure)? Or can we wait until the next release, 4.1?

My intuition says that a measure containing a [quarter, quarter, half note] should _try its best_ to give 1/4 of the free space to each of the quarter notes, and 1/2 of the free space to the half note. I define the "

[2022-03-03 17:27] AaronDavidNewman commented on #1335
It depends on your timeline.  We could fix it soon.  I should be able to push a PR today, but I may need some more time to verify the visual diffs.  If there are lots of diffs we may want to hold off.

@RyoSusami was correct when he said we weren't considering the width of the last note.  The right-most note is placed relative to other notes.   My fix is to make the right padding based on the widt

[2022-03-03 19:37] rvilarl commented on #1335
@AaronDavidNewman I can help looking at diffs. Just make a PR and leave as draft until we check

[2022-03-03 19:54] AaronDavidNewman commented on #1335
@rvilarl thank man.  https://github.com/0xfe/vexflow/pull/1339

[2022-03-04 05:48] rvilarl commented on #713
`setX(...)`can be called in the note's `TickContext` after `Formatter.format()`

https://jsfiddle.net/erf6zw5b/

[2022-03-04 05:52] rvilarl commented on #712
@AaronDavidNewman @sschmidTU can this be closed?

[2022-03-06 11:49] nitzanrh opened #1342 "Annotation's Y pos when using setVerticalJustification"
Hi all,

I'm trying to have my annotations placed below the stave and as close to it as possible.
I use setVerticalJustification = 3 which sets the annotations below the staff, however there is still a padding/margin between the staff and the annotation (see screenshot).
I tried using some methods from the API documentation (such as setTextLine, setYShift etc.) but none of those had an effect on t

[2022-03-06 12:59] rvilarl commented on #1342
Could you provide a jfiddle with your code?

[2022-03-06 16:16] AaronDavidNewman commented on #1342
@nitzanrh the annotations are placed at least 1 line above/below the staff.  I'm not sure, but I believe it's always been this way.  Because this is part of the formatting logic, there's no easy way to make this configurable.

One option is to move the text after rendering.  If you `annotation.setAttribute('id', 'my-group-id')`, you can do something like:

[code]
This is how I align lyrics vertica

[2022-03-10 16:55] sschmidTU commented on #712
For me, yes. The issue seems resolved anyways. (and it's very old)

[2022-03-10 16:56] sschmidTU commented on #713
@rvilarl @ronyeh This can probably be closed now.

[2022-03-10 17:36] #712 closed

[2022-03-10 17:37] #713 closed

[2022-03-11 17:49] gristow commented on #1222
@ronyeh - coming late to this: a challenge I'm facing in migration to the 4.0 beta is that the shapes of the CJS and ESM builds are different. The ESM build makes available a named export for each class via `src/index.tx`, whereas the CJS build only exports these in the namespace Vex.Flow via `src/vex.ts`.

The particular situation I'm in is an SSR app, using Vite which transforms ESM import style

[2022-03-12 18:57] gristow opened #1346 "CJS/ESM Build Alignment"
The output of the CJS and ESM builds from `src/index.ts` have different shapes because, in the Webpack UMD build process, the default export of Vex in `src/index.ts` overwrites the named exports from the same file.

As a result, when working in an ESM context this will work:
[code]

But the parallel CJS code will not work:
[code]

I'm hitting this issue, personally, using Vite which transforms ESM

[2022-03-13 13:03] #1307 closed

[2022-03-13 13:08] 0xfe commented on #1346
Thanks @gristow. I don't have a strong opinion here, the quick fix sounds okay to me. But @ronyeh might have other suggestions.

[2022-03-13 13:10] 0xfe commented on #1342
@AaronDavidNewman I wonder if the default should be closer to the staff.

[2022-03-14 01:29] AaronDavidNewman commented on #1342
It could probably be tightened up a little bit, especially on the bottom.  We'll have to try some more top-heavy text to test it out.  It is also not entirely consistent, depending on stem direction, other modifiers, top/bottom, etc.

![image](https://user-images.githubusercontent.com/5438280/158089150-38e727a3-9016-4d47-b868-6563d70b9a10.png)

[2022-03-14 22:18] AaronDavidNewman opened #1347 "Annotation notes can be too close together"
Notes with annotations can now be too close together.  This was probably caused by recent annotation changes, but I'm not quite sure how.  Those changes affect the overall measure width, but the individual tick context should still be considered when formatting the notes.

I noticed this when I ported the latest changes to Smoosic.  If I modify the annotation lyric test slightly I see it:

![image

[2022-03-18 18:11] ronyeh commented on #1346
Sorry for the delay. I was busy this week with deadlines.

TLDR: I agree that we should strive for maximum flexibility, so that VexFlow is compatible with as many tools as possible. However, we should make sure this PR doesn't **also** change the shape of the ESM build. Ideally the ESM import and CJS require will return identical objects (if possible).

---

I left the CJS export untouched while b

[2022-03-19 19:45] #1335 closed

[2022-03-19 19:47] #1347 closed

[2022-03-19 19:48] #1331 closed

[2022-03-19 20:11] rvilarl commented on #1308
@0xfe is this a bug or just expected behaviour?

[2022-03-19 20:12] rvilarl commented on #1315
I believe that the source of the problem is the same as in #1308
@0xfe what do you think?

[2022-03-20 09:32] ronyeh commented on #1346
Take a look at PR https://github.com/0xfe/vexflow/pull/1349

I believe the approach there solves this issue, but I'll need to put together a build so you all can verify!

[2022-03-20 12:10] 0xfe commented on #1308
Yes, expected. They're the full combination of positions and alignments, and some of them don't make sense.

[2022-03-20 16:37] AaronDavidNewman commented on #1308
If the text is centered and not top or bottom vertically, by definition it's going to collide with the note or stem.  So I think that's expected, although I don't know that it's a very useful test :)

[2022-03-21 21:26] #1346 closed

[2022-03-21 22:47] ronyeh commented on #1281
Hello everyone!

I just pushed a release candidate to NPM:

[code]

Please give it a try on your projects. If there are no critical issues, we plan to ship this version as **VexFlow 4**. Other PRs will go into the next patch or minor release.

Tagging some other folks so you can give this version a try before the VexFlow 4 release:
@mscuthbert @gristow @AaronDavidNewman

[2022-03-21 23:06] rvilarl commented on #1281
@ronyeh OSMD runs fine with vexflow@rc. Let us release as soon as possible!

[2022-03-22 00:50] RyoSusami commented on #1335
Thank you everyone, and thank you positive improvement @AaronDavidNewman !

[2022-03-23 21:59] rvilarl opened #1351 "4.0.2"
@0xfe @ronyeh @AaronDavidNewman @mscuthbert @gristow @sschmidTU 4.0.1 is almost there, what would you like to see in 4.0.2?

[2022-03-23 22:06] ronyeh commented on #1351
The patch release should include any cleanup or bug fixes.

For example, clarifying types or exporting enums or anything else we missed.

Once 4.0.1 is released, we can merge https://github.com/0xfe/vexflow/pull/1343

If there are any bigger additions, we can bump it to 4.1 to follow in the spirit of semantic versioning.

[2022-03-24 02:28] mscuthbert commented on #1351
agreed.  I think that the first thing we'll find are rough edges missed when it was in a small beta circle.

[2022-03-24 05:56] #1308 closed

[2022-03-24 06:01] #1315 closed

[2022-03-24 15:50] rvilarl opened #1352 "4.1.0"
@0xfe @ronyeh @AaronDavidNewman @mscuthbert @gristow @sschmidTU what would you like to see in 4.1.x? Understood 4.0.2 will be bug fix.

[2022-03-24 15:54] gristow commented on #1281
Looks good to me -- thanks for the amazing work on this @ronyeh!

[2022-03-24 20:12] gristow commented on #1352
The main thing I've run into so far is that some of the horizontal note spacings seem odd in 4.0.1 when a measure has more available space than is needed for the notes. For instance, here the eighth notes feel quite squished in:

![image](https://user-images.githubusercontent.com/8905340/160001455-f147f38f-0c95-46c1-9e62-9400aff02d83.png)

[code]

Unfortunately, I'm really not familiar enough with

[2022-03-24 20:23] ronyeh commented on #1352
Related to the formatting comment by @gristow, I think it would be cool to have a pluggable/swappable formatter. Our current formatter can be the default formatting function, but it would be nice to be able to set it to a different function or Formatter class at runtime. Automatic layout of notes is a very tough problem to solve (with lots of edge cases)... so it would be fun to open it up so that

[2022-03-24 20:51] #1281 closed

[2022-03-24 21:25] rvilarl commented on #1352
@AaronDavidNewman can you look into the example above from @gristow

[2022-03-24 21:30] rvilarl commented on #1352
I would like to get the following issues addressed:
 #441
 #285

[2022-03-24 21:52] ronyeh commented on #1281
VexFlow 4 has been released!

[code]

https://github.com/0xfe/vexflow/releases/tag/4.0.1

https://www.npmjs.com/package/vexflow

[2022-03-24 23:16] ronyeh commented on #1352
I feel like there is no straightforward formatting algorithm that will make everyone happy.

Could we add a simple API & process for the developer to tweak a particular note group's X position, after the formatter has had a go at it?

For example, on the Bach Demo page: https://unpkg.com/vexflow@4.0.1/tests/flow.html#module=Bach%20Demo

If you scroll down to the SVG output, and then paste this int

[2022-03-25 00:36] rblonski18 opened #1353 "How to go about switching out notes in a single context"
I'm currently working on an activity for a website that helps train people with cochlear implants to associate music they're hearing with notes on a screen. The activity plays a song, and at the same time, displays the notes of the song on the screen, in an animation, moving the notes from right to left as they play. I've been using VexFlow for this, and so far it has been exactly what I've needed

[2022-03-25 00:44] mscuthbert commented on #1281
This is incredible amazing news.  Congrats to everyone who worked so hard on this!

[2022-03-25 03:29] ronyeh commented on #1353
Thanks for including a running example. What a cool demo!

Can you switch the vexflow URL to:
[code]

We just officially shipped VexFlow 4 today, and if we use the most recent URL, we can help you investigate this issue better.

I also noticed that you were including VexFlow twice in the JSFiddle. During development, we usually only include the `vexflow-debug.js` version:
[code]

Once the app / we

[2022-03-25 03:34] #1271 closed

[2022-03-25 04:17] ronyeh commented on #1353
Hi, I forked your JSFiddle and played around with it.

I think you should try to simplify your code and get make sure all the PLAY / STOP / NEXT states work.

For example, I went to your CSS and looked for the opacity settings. Instead of 0, I set the lowest opacity to 0.3.

[code]

If you then run your app, you'll see that even after you press STOP or advance to the second song, the first song is

[2022-03-25 07:34] ronyeh opened #1354 "VexFlow.com is broken. :-}"
It looks like the VexFlow 4 release broke the JSFiddle example on https://vexflow.com/

This is because in version 4, we have changed the location of the library files to `vexflow/build/cjs/*` instead of `vexflow/releases/*`.

The JSFiddle includes: `https://npmcdn.com/vexflow/releases/vexflow-debug.js`  but that URL is actually redirected to the most recent NPM version. The URL is rewritten to: `

[2022-03-25 07:45] ronyeh commented on #1354
On a Google search for "jsfiddle vexflow" we see that 6 out of 10 of the examples on the first page of results are broken:

[code]

The remaining 4 that still work point to old versions hosted on vexflow.com:
[code]

[2022-03-25 07:54] ronyeh commented on #1354
@0xfe @rvilarl If I reintroduce the `releases` folder (just on NPM and nowhere else), should I put version 3.0.9 in there? Or should I put VexFlow 4 in there?

I feel like VexFlow 4 should be backwards compatible with most of the JSFiddle examples out in the wild, since those examples are all pretty simple.

However, putting 3.0.9 in there would probably result in fewer pages being broken.

What d

[2022-03-25 09:57] 0xfe commented on #1354
I'd rather fix the examples in the website now to support our new model,
than try to be backward compatible for the website.

If you can provide new jsfiddle links, I'll go and change everything. (BTW,
this probably also affects the tutorials on the wiki.)

On Fri., Mar. 25, 2022, 03:54 Ron B. Yeh, ***@***.***> wrote:

[2022-03-25 10:00] 0xfe commented on #1354
Re: vexflow-debug, which is referenced everywhere, maybe let's keep that in
releases (maybe 3.0.9), throw a huge console warning that it's going away,
and add a comment header too.) So we'll support that path for a bit, and
the delete it.

On Fri., Mar. 25, 2022, 05:57 Mohit Muthanna Cheppudira, ***@***.***>
wrote:

[2022-03-25 14:49] ronyeh commented on #1354
OK I thought about it some more.

I believe that 4.0.1 is backwards compatible with most of the basic examples on JSFiddle. We only broke things that we thought were worth breaking.

So I think I will add a releases/ folder that includes the 4.0.1 CJS version of vexflow-debug.js. This file won't be checked into the repo, but it will be pushed to NPM as part of the release script. I could add a con

[2022-03-25 18:00] ronyeh commented on #1354
@0xfe you can make these two updates to vexflow.com

# vexflow.com change 1
OLD:
[code]

NEW:
[code]

I fixed a typo and modernized the JS, and updated the VexFlow library URL. The old URL was: https://npmcdn.com/vexflow/releases/vexflow-debug.js  The URL has been updated to: https://unpkg.com/vexflow@4.0.1/build/cjs/vexflow-debug.js

# vexflow.com change 2

OLD:
[code]

NEW:
[code]

We pin the de

[2022-03-25 18:44] rblonski18 commented on #1353
Thank you so much for the help! I really appreciate it. Added some code to change the else statement to delete all `<g>` elements in the context and create another tick context. My question is, if I'm writing `context.clear()` and clearing the context of all `<g>` elements, how is it that I'm nesting the next song's notes in another `<g>` tag? And, if I try to run it a third time, the context is r

[2022-03-26 06:11] ronyeh opened #1355 "addDot() and addDotToAll()"
These methods were removed during our squashing of circular dependencies.

While fixing wiki tutorials / JSFiddles and porting over Music21j, I realized not having the method is a bit of a pain.

Perhaps we can revisit a way to add this utility method back again? Perhaps it should be a static method on the Dot class?

However, in 3.0.9 the method was chainable with other methods on StaveNote, whic

[2022-03-26 08:09] rvilarl commented on #1355
I believe that this not possible with one voice, like in the example above. With two voices this would be possible but the two notes would be independent (not presented like a chord above).
`addDot()` and `addDotToAll()` were removed to remove circular dependencies. They were replaced by `Dot.buildAndAttach(...)` proposed by Mohit

[2022-03-26 11:02] 0xfe commented on #1271
Thanks for carrying this whole thing, Ron!

[2022-03-26 11:04] 0xfe commented on #1354
ack

[2022-03-26 14:21] stephaneeybert commented on #371
@gristow It seems like the fiddle is not working any longer. There is nothing in the console log even when mouse hovering and clicking in the SVG context. I'm on Version 99.0.4844.82 (Official Build) (64-bit).

[2022-03-26 14:23] stephaneeybert commented on #371
@0xfe I cannot see any `getElem()` method on the `Vex.Flow.StaveNote` type.

I'm on vexflow ^3.0.9 at the moment.

[2022-03-26 14:36] stephaneeybert commented on #371
@gristow Your running version 404s.

[2022-03-26 14:43] stephaneeybert commented on #371
I can display a popup menu right above a note with the following:
[code]

But I don't know how to retrieve the logical note index.

Do I need to create a bounding box with top, left, bottom, right coordinates for each note and then traverse all the notes of the soundtrack to find the one matching the click coordinates ?

That would be very slow and unresponsive.

[2022-03-26 15:51] gristow commented on #371
@stephaneeybert the fiddle being down is related to #1354, I've fixed the fiddle so it runs again.

Yes, this is the general approach. I memoize the bounding boxes on each render of a score into an array with pointers to the object in question, myself. At the moment I just iterate over the array finding matching coordinates. The lookup time is negligible. If you have such a huge number of elements

[2022-03-26 20:20] mscuthbert commented on #1355
I add dots to noteheads individually sometimes so that I can have them fade in at different times in animations, or to create examples of, "What is wrong with this notation" -- but that's not a major use case for the system.  But yes, music21j will need to be updated to no longer use the code.

[2022-03-26 21:02] ronyeh commented on #1355
For my Music21j PR, I replaced addDotToAll with a new utility function
(since I forgot that Dot.buildAndAttach(...) existed). We could change it
to use Dot.buildAndAttach(...) instead, if that is more convenient.

On Sat, Mar 26, 2022, 1:21 PM Michael Scott Cuthbert <
***@***.***> wrote:

[2022-03-26 21:11] rvilarl commented on #1355
Dot.buildAndAttach(...) also supports setting the number of dots independently

[2022-03-26 21:33] #1355 closed

[2022-03-27 05:18] stephaneeybert commented on #371
@gristow Thank you for your advice. I shall go for that design then. Indeed it should not be too costly. I still wonder if that is how an SVG application like https://app.sketchup.com is working too. Or if there is a more direct way of linking an event to an SVG object.

[2022-03-27 10:40] rvilarl commented on #1351
Pianoplay is now online using this branch with Vexflow 4.0.1
https://michaelecke.com/pianoplay
there is also a version using OSMD without vexflow 4
https://michaelecke.com/pianoplay1293

[2022-03-27 12:27] 0xfe commented on #1354
This is fixed. (Hand patched because all the dependencies are now stale, thanks to the rapidly evolving JS ecosystem.)

[2022-03-27 12:27] #1354 closed

[2022-03-27 12:46] 0xfe commented on #1352
Yes, there's no perfect formatter -- it is possible to significantly improve this, but it's a lot of work, and mostly using statistical techniques. The softmax stuff was the first step at this -- I added a lot of metrics from which you could derive scores to optimize, and make the scores look less "mechanical", but it requires you to pick a good softmax factor.

The next step was to calculate the

[2022-03-27 12:47] 0xfe commented on #1352
@gristow have you tried changing the softmax factor for your example -- that should reduce the "squishyness"?

[2022-03-27 20:50] AaronDavidNewman commented on #1352
I've been nursing a theory.  I think during 3.0.9 release, the high softmax factor was required to work around several formatting bugs which were since fixed.

Just to test it out, I created a build of vexflow with the softmax=2.  You can see it here.  It is the smoosic build, so exact match for vexflow 4.0.1 as of a couple of weeks ago, except for some additional fonts.

I looked through all the

[2022-03-28 10:00] 0xfe commented on #1352
That sounds plausible. I'm open to doing an inventory of all the tests with `softmax=2` (or `softmax=10`) to flag issues (ignoring the visual diffs), if that seems like a worthy effort.

[2022-03-28 21:36] ronyeh commented on #1351
I spent the last several days updating the wiki and tutorial pages, focusing on the JSFiddle examples that were broken by the VexFlow 4 release.

If you have time, please look through the wiki and Tutorial and click on any JSFiddle links to make sure they work for you. There are probably other pages with outdated code examples. You can update them yourselves, or let me know and I'll take a look.

[2022-03-28 23:05] ronyeh commented on #371
FYI: I updated @gristow 's example to work with VexFlow 4.0.1, which we released recently:

https://jsfiddle.net/39gLvqwm/

In VexFlow 4, we can import types as follows:

[code]

This way, we don't need to use the `VF.` prefix in every line of code.

The above approach works with script tags in the CommonJS style. If you are using ES modules or TypeScript, you'll use the import keyword and most li

[2022-03-29 06:19] rvilarl commented on #285
@0xfe @gristow would it make sense to arrange elements genericaly in a tree?

with that we could find childs for example by className we would have a root element without parent (probably the score), childs of the scores would be the measures, child of the measures would be the notes and then we could define a `setGroupStyle()` that would apply to the referenced element and all its childs.

@ronye

[2022-03-29 17:20] ronyeh commented on #1352
Just a friendly reminder that some other projects like MuseScore and LilyPond are licensed under GNU General Public License version 3, which is incompatible with our MIT license.

Of course, it is fine to inspect and analyze the rendered output from those programs. We could even use their rendered output as a way to "grade" VexFlow's formatter across various metrics.

However, exercise caution if

[2022-03-29 17:50] sschmidTU commented on #1352
Yes, choosing formatters via plugin would be nice. I had also already thought about porting the 1.2.93 formatter as an alternate class to use.

(and yes, I would never copy-paste code from one repo to another without checking the licenses, but good point, didn't know Musescore was GPL)

[2022-03-30 06:07] rvilarl commented on #805
@rrosenb12 @sschmidTU I believe that this can be closed, right?

[2022-03-30 18:23] #805 closed

[2022-03-31 04:39] rvilarl opened #1358 "OSMD: extra space"

[2022-03-31 04:41] rvilarl opened #1359 "OSMD: Squeezed notes in implicit/precount measure"

[2022-03-31 11:36] nitzanrh opened #1360 "How to set repeat at beginning of bar w/o stave's start/left barline"
I'm trying to achieve the following:
https://en.wikipedia.org/wiki/Repetition_(music)#/media/File:Au_clair_de_la_lune_repetition.png

ie have a left/start repeat sign but without having the stave's left/begin barline. Is this possible?

When i set the stave's begin barline to repeat (stave.setBegBarType(4)) it automatically adds a barline in the beginning of the stave (ie left side).

Cheers,
Nitz

[2022-03-31 15:13] nitzanrh commented on #1360
Sorry, here is a decent screenshot :)
<img width="1061" alt="Screen Shot 2022-03-31 at 18 11 53" src="https://user-images.githubusercontent.com/13316019/161089372-c2cfcf6d-6cc2-4277-bf90-7e87a0eb7a8d.png">

[2022-03-31 23:26] rvilarl opened #1362 "OSMD: Rests too cramped"

[2022-03-31 23:27] rvilarl opened #1363 "OSMD: Grace note colliding"

[2022-03-31 23:28] rvilarl opened #1364 "OSMD: String numbers colliding"

[2022-03-31 23:30] rvilarl opened #1365 "OSMD: unnecessary x-shift"

[2022-03-31 23:31] rvilarl opened #1366 "OSMD: Collision of section mark"

[2022-03-31 23:32] rvilarl opened #1367 "OSMD: Slur arc too high"

[2022-03-31 23:33] rvilarl opened #1368 "OSMD: Rest position"

[2022-03-31 23:33] rvilarl opened #1369 "OSMD: Rests disappear"

[2022-03-31 23:34] rvilarl opened #1370 "OSMD: Measure way too far"

[2022-04-01 08:15] rvilarl commented on #1360
@nitzanrh could you provide the code and a screenshot of what you are actually getting?

[2022-04-01 16:01] stephaneeybert commented on #371
Am I missing something ? I need to build bounding boxes to later on match a click position against them.

I create first the bounding boxes:
[code]

Then I can search for the correct element:
[code]

And finally I get the click position:
[code]

[2022-04-01 16:26] gristow commented on #371
@stephaneeybert -- it looks like there's an error in your svgXToBrowser and svgYToBrowser functions. The browser click event and SVG coordinates are different both in terms of origin and scale. So, you'll need to use a matrix transform.

See [this stack overflow](https://stackoverflow.com/questions/48343436/how-to-convert-svg-element-coordinates-to-screen-coordinates) or the [getCoords function](h

[2022-04-01 16:28] stephaneeybert commented on #371
@gristow All right ! Thanks for the feedback and the example !

[2022-04-01 16:55] stephaneeybert commented on #371
@gristow I now notice my logic is faulty as I need to sort my array first before using it.

[2022-04-02 03:00] ronyeh commented on #596
I updated the JSFiddle in the original comment to work with VexFlow 4:

https://jsfiddle.net/sg41xwz7/

[2022-04-02 03:14] ronyeh commented on #596
https://jsfiddle.net/sg41xwz7/

There is still a bug in this example. When inspecting the SVG, there is a duplicate `<text>` element showing "Render this".

The bug is present in both 3.0.9 and 4.0.1.

[2022-04-02 17:09] rvilarl commented on #1352
The mayority of the `OSMD: ...` issues that I added are realated to formatting (not the ones that I assigned to my self). @AaronDavidNewman could you have a look at them and tell me if you agree. Would you have a proposal on how to proceed?

[2022-04-03 04:18] stephaneeybert commented on #1354
In an Angular strictly typed environment, I was using the `3.0.9` release with the types `@types/vexflow` release `1.2.37`.

Now after upgrading to the `4.0.1` release I get the following error in the browser:
`TypeError: staveNote.addAccidental is not a function`

I did not upgrade the `@types/vexflow` dependency.
I see the npm registry is still offering the `1.2.37` [release](https://www.npmjs.c

[2022-04-03 04:55] ronyeh commented on #1354
Hello! Can you open a new issue so we can have a discussion on breaking changes in the new issue? It will help others who are upgrading from 3.0.9 to 4.0.1.

addAccidental() was removed while we were debugging circular dependencies. Now, we call addModifier() directly.

https://github.com/0xfe/vexflow/wiki/Changelog-ver-4.0#stavenote-removed-addaccidental-addarticulation-addannotation-adddot

We d

[2022-04-03 05:01] ronyeh commented on #1354
https://www.npmjs.com/package/@types/vexflow

The above types package is not managed by our team. It looks like external developers, including those from OSMD, contributed those types, since version 3.0.9 was written in pure JS and had no d.ts files.

4.0.1 is in native typescript. What happens if you uninstall your @types/VexFlow.... will your compiler find the right .d.ts files under the 4.0.1 f

[2022-04-03 05:12] stephaneeybert commented on #371
It looks like I didn't need to use any `svgYToBrowser()` method. my application behaves all right without it. I just had to add the possible scroll offset.

The only remaining issue I could have is when the screen is resized. In that case my scrolling offset becomes out of sync.

Maybe doing the coordinates conversion using your suggested `matrixTransform()` method would solve that too ?
I tried t

[2022-04-03 05:21] gristow commented on #371
Sorry -- I have no idea what `soundtrack.sheetContext` is, that's not part of the VexFlow code base, so I can't help with its being undefined.

[2022-04-03 12:46] stephaneeybert commented on #371
The `soundtrack.sheetContext` holds the SVG context:
[code]

Sorry for that missing information.

[2022-04-03 12:50] stephaneeybert opened #1371 "How to import and use the new 4.0.1 Vexflow in Angular ?"
In an Angular strictly typed environment, I was using the `3.0.9` release with the types `@types/vexflow` release `1.2.37`.

Now after upgrading to the `4.0.1` release and deleting the`@types/vexflow` module,  I get the following compile time error:
[code]

My source code:
[code]

[2022-04-03 12:51] stephaneeybert commented on #1354
I created the new [issue](https://github.com/0xfe/vexflow/issues/1371).

[2022-04-03 13:36] stephaneeybert commented on #1371
I could solve the issue. in fact, it was simple. I just had to remove all these `Vex.Flow` prefixes, as in:
`const formatter: Formatter = new Formatter();`

with the import looking like:
`import { Accidental, Annotation, BoundingBox, Formatter, Renderer, Stave, StaveNote, Voice } from 'vexflow';`

[2022-04-03 14:02] rvilarl commented on #1371
@stephaneeybert I use `import * as VF from "vexflow";` and then:
`const formatter: VF.Formatter = new VF.Formatter();`
With this I avoid possible collissions with other classes.

[2022-04-03 18:12] ronyeh commented on #1371
I have a small typescript example here that works with VexFlow 4.0.1:

https://github.com/ronyeh/vexflow-example-typescript

You can also take a look at how I migrated another project to VexFlow 4.0.1:

https://github.com/cuthbertLab/music21j/pull/172/files

Your solution works great, and is the prefered way of importing types. However, if you have problems with VexFlow class names colliding with

[2022-04-04 12:24] stephaneeybert commented on #1371
Thanks for the support offer. I could easily upgrade the source code for the new release.

For the record, here are the few code changes I had to do:

[code]

[2022-04-06 15:17] rvilarl commented on #1370
@sschmidTU I want to use the test files in OSMD to produce tests for VexFlow. Is there any problem with the license of OSMD not being MIT?

[2022-04-07 13:57] sschmidTU commented on #1354
@stephaneeybert @types/vexflow only applies until vexflow 3.0.9. For vexflow 4, you can use vexflow's own types now, since it's in typescript now.

[2022-04-07 14:36] sschmidTU commented on #1370
@rvilarl You can use the OSMD test files, they aren't full pieces of music that are protected by copyright.

[2022-04-07 14:43] sschmidTU commented on #1367
This issue is almost purely a problem in OSMD, where the slur arc is calculated.
It's just strange that the arc got steeper just by updating to vexflow 4.

(for reference: [my original list of OSMD vexflow 4 transition issues](https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/pull/1139#issuecomment-1032827943))

[2022-04-08 06:11] rvilarl commented on #1370
@AaronDavidNewman I have produced some jsfiddles to show the behaviour

for the first score,
https://jsfiddle.net/wempuknj/
**with `width`:**
![image](https://user-images.githubusercontent.com/22865285/162374818-526b0dac-3244-4253-a89e-334789c71630.png)

**without `width`:**
https://jsfiddle.net/wempuknj/1/
![image](https://user-images.githubusercontent.com/22865285/162375010-1567b615-74bd-404c-81

[2022-04-08 06:23] rvilarl commented on #1367
OSMD problem

[2022-04-08 06:23] #1367 closed

[2022-04-08 18:52] AaronDavidNewman commented on #1370
These are good examples!

I see the problem when the right padding is too wide.  We are considering the distance between the note and the right bar in the padding, but we need to also consider the distance to the previous tick context.

It doesn't have to do with measure width specifically, except the too-big gaps are smaller if there is less space.  It doesn't really have to do with softmax facto

[2022-04-08 21:41] rvilarl commented on #1368
@sschmidTU I see no problem with this file using Vexlflow directly. I do not understand thougth where the time signature in OSMD is coming from, it is not in the musicxml file.

https://jsfiddle.net/wempuknj/5/
![image](https://user-images.githubusercontent.com/22865285/162535619-de9188a9-ccfd-43e2-ad3d-c110fb1d911a.png)

[2022-04-08 21:50] rvilarl commented on #1368
@AaronDavidNewman however I found a problem with the rest positions and another with the associated width

**with `width` (rests are not in the middle of the measure):**
https://jsfiddle.net/wempuknj/6/
![image](https://user-images.githubusercontent.com/22865285/162536138-e796c07a-ed06-448d-8fb7-4d71b6989cd7.png)

**without `width` (rests are not in the middle of the measure, and the measures with

[2022-04-11 14:23] AaronDavidNewman commented on #1368
You need to:
`note = (score.notes('B4/w/r', {})[0]).setCenterAlignment(true);`

[2022-04-11 17:50] #1365 closed

[2022-04-13 03:15] AaronDavidNewman commented on #1370
I was wrong in my last post.  The issue here is the softmax factor.  At 100, the formatter has the 1/8 taking up 20% of the measure, vs. 60% for the 1/4 note.  So the last 1/4 note is already well past the ideal distance from the previous note.  At 2, the 1/4 note takes up 37% and the 1/8 takes up 30%.

100:
![image](https://user-images.githubusercontent.com/5438280/163092158-4ae991be-047c-485b-96

[2022-04-13 05:20] rvilarl commented on #1370
Should we change the default to 5?

btw @AaronDavidNewman did you see my question above?

[2022-04-13 05:38] rvilarl opened #1373 "Design issue: Notes in a voice cannot be placed on different staves (using System)"
This is not allowed by VexFlow and it seems that the solution is to make two voices out of one adding GhostNotes. However this is an impediment to have slurs or beams between staves (see #434)

I am collaborating with @jaredjj3 on https://github.com/stringsync/vexml. This is the application that I am using to produce the jsfiddle examples in the OSMD issues from musicxml files.

There I am facing

[2022-04-14 22:36] rvilarl commented on #1373
The problem is `System`without this class it is possible to let voices jump between staves. It is even possible to have cross staff beams although they do not loo very nice (beam is not located in the middle).

https://jsfiddle.net/exqncky4/2/
![image](https://user-images.githubusercontent.com/22865285/163488902-551bba89-41b6-4b31-be8f-315d6f9abb25.png)